/* screen - verify-code */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,600|Oxygen:300,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63a236ec63d7cd74a21d3405.63a236ed99ecd12a69868578.63c49d3d9565c9180a1f3b19.hcp.png");


/* screen - verify-code */

.verify-code {
  align-items: flex-start;
  background-color: var(--catskill-white);
  border: 0.75px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.verify-code .group-184 {
  align-items: flex-start;
  display: flex;
  gap: 13857px;
  height: 810px;
  left: 0;
  min-width: 197px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.verify-code .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 810px;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.3px;
}

.verify-code .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 138px;
}

.verify-code .line-79 {
  height: 1px;
  margin-top: -196.25px;
  width: 809px;
}

.verify-code .verify-email {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 6px;
  height: 488px;
  justify-content: center;
  margin-left: 471px;
  margin-top: 114px;
  padding: 36px 90px;
  position: relative;
  width: fit-content;
  z-index: 2;
}

.verify-code .frame-205 {
  align-items: center;
  gap: 45px;
}

.verify-code .frame-460 {
  align-items: center;
  gap: 18px;
}

.verify-code .title {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.verify-code .please-enter-the-ver {
  letter-spacing: 0;
  line-height: 12px;
  position: relative;
  width: 318px;
}

.verify-code .span1 {
  line-height: 18px;
}

.verify-code .frame-460-1 {
  flex-direction: column;
  height: 265.5px;
  width: fit-content;
}

.verify-code .frame-1 {
  align-items: flex-start;
  gap: 27px;
}

.verify-code .frame-1-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: fit-content;
}

.verify-code .frame-202 {
  align-items: flex-start;
  gap: 9px;
}

.verify-code .frame-196 {
  align-items: flex-start;
  gap: 6px;
}

.verify-code .frame-460-2 {
  width: 318px;
}

.verify-code .verify-code-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.verify-code .resend-code {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.verify-code .frame-1-2 {
  border: 0.75px solid;
  border-color: var(--blue-dianne);
  height: 38.25px;
  min-width: 318px;
  position: relative;
}

.verify-code .frame-1-3 {
  height: 36px;
  min-width: 318px;
  position: relative;
}

.verify-code .click-here-if-you-wo {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 12px;
  position: relative;
  width: 318px;
}

.verify-code .span0 {
  color: var(--cerulean);
  font-weight: 600;
  line-height: 18px;
}

.verify-code .login {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.75px solid;
  display: flex;
  gap: 6px;
  height: 45px;
  justify-content: center;
  padding: 13.5px 138px;
  position: relative;
  width: 318px;
}

.verify-code .login-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.00px;
  margin-right: -2.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.verify-code .icbaseline-download {
  height: 18px;
  margin-left: 14159px;
  margin-top: 655.75px;
  width: 18px;
  z-index: 1;
}

.verify-code .frame {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.verify-code .frame-460-3 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
}
