/* screen - apply-payment-4 */

.apply-payment-4{
    align-items: flex-start;
    background-color: var(--white);
    border: 0.75px none;
    display: flex;
    height: 842.43px;
    overflow: hidden;
    width: 1437.75px;
  }
  .apply-payment-4 .selectComponent{
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    border-right-style: solid;
    border-right-width: 0.75px;
    display: flex;
    gap: 7.5px;
    height: 30px;
    padding: 9px;
    position: relative;
    width: 90px;
  }
  .apply-payment-4 .custom-select {
    background-color: white;
    width: 150px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 10.5px;
}
  
  .apply-payment-4 .back-next {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    left: 194px;
    position: fixed;
    top: 590px;
    width: fit-content;
    z-index: 1;
  }
  
  .apply-payment-4 .frame-616a {
    align-items: center;
    background-color: var(--white);
    display: flex;
    gap: 740px;
    margin-right: -1.50px;
    padding: 107.97px 59.91px;
    position: relative;
    width: 974.98px;
    left: 15px;
  }
  
  .apply-payment-4 .back-buttona {
    align-items: center;
    background-color: var(--white);
    border: 0.9px solid;
    border-color: var(--geyser);
    display: flex;
    gap: 7.49px;
    height: 35.94px;
    justify-content: space-around;
    padding: 17.97px 59.91px;
    position: relative;
    width: 134.79px;
  }
  
  .apply-payment-4 .place {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -5.60px;
    margin-left: -5.00px;
    margin-right: -5.00px;
    margin-top: -7.40px;
    position: relative;
    width: fit-content;
  }
  
  
  .apply-payment-4 .next-buttona {
    align-items: center;
    background-color: var(--blue-dianne);
    border: 0.9px solid;
    border-color: var(--geyser);
    display: flex;
    gap: 7.49px;
    height: 35.94px;
    justify-content: center;
    padding: 17.97px 59.91px;
    position: relative;
    width: 149.77px;
  }
  
  
  .apply-payment-4 .next {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -5.60px;
    margin-top: -7.40px;
    position: relative;
    width: fit-content;
  }
  .apply-payment-4 .main-navigation {
    align-items: flex-start;
    display: flex;
    height: 100vh;
    left: -2px;
    min-width: 195px;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  
  
  .apply-payment-4 .overlap-group1 {
  height: 100vh;
  position: relative;
  width: 197px;
  }
  
  .apply-payment-4 .group-184 {
  align-items: flex-end;
  background-color: var(--blue-dianne);
  display: flex;
  height: 100vh;
  left: 0;
  min-width: 197px;
  position: absolute;
  top: 0;
  }
  
  .apply-payment-4 .overlap-group {
  position: relative;
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.2px;
  }
  
  .apply-payment-4 .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  position: fixed;
  top: 16.5px;
  width: 138px;
  
  }
  .apply-payment-4 .my-table {
  border-collapse: collapse;
  width: 100%;
  }
  
  .apply-payment-4 .my-table th, .my-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  }
  
  .apply-payment-4 .line-79 {
  height: 809px;
  width: 1px;
  }
  
  .apply-payment-4 .frame-185 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 0;
  position: absolute;
  top: 123px;
  width: 195px;
  height: 216px;
  }
  
  .apply-payment-4 .frame-185-item {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  padding: 11.25px 45px;
  position: relative;
  right: 61px;
  width: 195px;
  }
  
  .apply-payment-4 .home_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
  }
  
  .apply-payment-4 .dashboard {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  }
  
  .apply-payment-4 .draft_fill1_wght400_grad0_opsz48-1-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
  }
  
  .apply-payment-4 .my-files {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -1.50px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  }
  
  .apply-payment-4 .paid_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
  }
  
  .apply-payment-4 .cost-usage {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
  white-space: nowrap;
  }
  
  .apply-payment-4 .settings_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
  }
  
  .apply-payment-4 .settings {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
  }
  
  .apply-payment-4 .contact_support_fill {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
  }
  
  @media (min-height: 380px){
  .apply-payment-4 .logout {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  left: 0;
  padding: 11.25px 45px;
  position: fixed;
  width: 195px;
  bottom: 57px;
  }
  }
  
  .apply-payment-4 .logout_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
  }
  
  .apply-payment-4 .logout-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
  }
  .apply-payment-4 .frame-563 {
    align-items: flex-start;
    background-color: var(--white);
    border: 0.56px solid;
    border-color: var(--mystic);
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 96px;
    justify-content: center;
    left: 180px;
    padding: 13px 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
    white-space: nowrap;
    overflow: hidden;
  }
  
  
  .apply-payment-4 .frame-350 {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1126.5px;
    left: 20px;
    height: 30px; 
    gap: 297px;
  }
  
  .apply-payment-4 .frame-49 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4.5px;
    justify-content: flex-end;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .getting-started {
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -0.56px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .rectangle-228 {
    background-color: var(--japanese-laurel);
    height: 3px;
    min-width: 150px;
    position: relative;
  }
  
  .apply-payment-4 .database-input {
    line-height: 24px;
    margin-top: -0.56px;
    white-space: nowrap;
  }
  
  .apply-payment-4 .rectangle-228-1 {
    background-color: var(--blue-dianne);
  }
  
  .apply-payment-4 .submit {
    letter-spacing: 0;
    line-height: 13.5px;
    margin-top: -0.56px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .rectangle-228-2 {
    background-color: var(--catskill-white);
    height: 3px;
    min-width: 150px;
    position: relative;
  }
  
  @media (min-width: 1440px){
  .apply-payment-4 .frame-213 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 9px;
    position: fixed;
    right: 60px;
    width: fit-content;
    white-space: nowrap;
    
    }
  }
  .apply-payment-4 .component-33 {
    align-items: center;
    border: 0.68px solid;
    border-color: var(--geyser);
    display: flex;
    gap: 7.5px;
    height: 30px;
    justify-content: center;
    padding: 9px 18px;
    position: relative;
    width: 120px;
  }
  
  .apply-payment-4 .x-exit {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.18px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .component-31 {
    align-items: center;
    background-color: var(--blue-dianne);
    border: 0.68px solid;
    border-color: var(--geyser);
    display: flex;
    gap: 7.5px;
    height: 30px;
    justify-content: center;
    padding: 9px 18px;
    position: relative;
    width: 120px;
  }
  
  
  
  .apply-payment-4 .rectangle-248 {
    background-color: var(--cerulean);
    height: 6px;
    left: 193px;
    position: fixed;
    top: 59px;
    width: 1px;
    z-index: 5;
  }
  
  .apply-payment-4 .rectangle-253 {
    background-color: var(--cerulean);
    height: 3px;
    left: 193px;
    position: fixed;
    top: 93px;
    width: 1px;
    z-index: 8;
  }
  
  .apply-payment-4 .frame-562a {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 23.96px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .group-447 {
    align-self: stretch;
    height: 100.65px;
    min-width: 855.16px;
    position: relative;
  }
  
  .apply-payment-4 .frame-564 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8.99px;
    position: relative;
    width: 855px;
  }
  
  .apply-payment-4 .upgrade-freemium-to-6-months {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.75px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-565 {
    align-items: flex-start;
    border: 0.75px solid;
    border-color: var(--geyser);
    display: flex;
    flex-direction: column;
    gap: 7.49px;
    margin-right: -0.75px;
    padding: 16.47px 17.97px;
    position: relative;
    width: 855.91px;
  }
  
  .apply-payment-4 .agree-to-wittgens-u {
    left: 0;
    letter-spacing: 0;
    line-height: 15.7px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 709px;
  }
  
  .apply-payment-4 .group-402 {
    align-items: flex-end;
    display: flex;
    height: 16px;
    left: 504px;
    min-width: 307px;
    position: absolute;
    top: 25px;
  }
  
  .apply-payment-4 .component-92 {
    align-self: center;
    height: 12px;
    margin-bottom: 1.02px;
    width: 12px;
  }
  
  .apply-payment-4 .i-have-read-and-agree-to-the-website {
    letter-spacing: 0;
    line-height: 15.7px;
    margin-bottom: 0;
    margin-left: 6px;
    min-height: 16px;
    min-width: 182px;
    white-space: nowrap;
  }
  
  .apply-payment-4 .terms-and-conditions {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 15.7px;
    margin-bottom: 0;
    margin-left: 2px;
    min-height: 16px;
    min-width: 105px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .apply-payment-4 .frame-576 {
    border: 0.75px solid;
    border-color: var(--geyser);
    height: 300.28px;
    min-width: 855.16px;
    position: relative;
  }
  
  .apply-payment-4 .frame-container {
    height: 300px;
    position: relative;
    width: 855.16px;
  }
  
  .apply-payment-4 .frame {
    align-items: center;
    display: flex;
    gap: 8.99px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .table-container_applypayment {
    height: 218px;
    background-color: white;
    overflow-y: scroll; /* 세로 스크롤바를 표시하도록 설정합니다 */
    overflow-x: hidden; 
  }
  
  .table-container_applypayment::-webkit-scrollbar {
  width: 9px; /* 스크롤바의 너비를 지정합니다 */
  }
  
  .table-container_applypayment::-webkit-scrollbar-thumb {
  background-color: #C0C0C0; /* 스크롤바의 색상을 지정합니다 */
  }
  
  .table-container_applypayment::-webkit-scrollbar-track {
  background-color: #E9EBED; /* 스크롤바의 트랙(배경) 색상을 지정합니다 */
  }
  .table-container_applypayment::-webkit-scrollbar-button:start:decrement {
  display:block; 
  width:9px; 
  height:6px; 
  background-color: #E9EBED;
  
  }
  .table-container_applypayment::-webkit-scrollbar-button:end:increment {
  display:block; 
  width:9px; 
  height:6px;
  background-color: #E9EBED;
  }
  
  .apply-payment-4 .frame-290 {
    align-items: flex-start;
    background-color: white;
    border: none;
    border-color: var(--mystic-2);
    display: flex;
    flex-direction: column;
    gap: 7.49px;
    height: 29.95px;
    justify-content: center;
    padding: 8.99px;
    position: relative;
    width: 269.58px;
  }
  
  .apply-payment-4 .search {
    letter-spacing: 0;
    line-height: 15.7px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .payment_-delete-multiple {
    align-items: center;
    border: 0.75px solid;
    border-color: var(--geyser);
    background-color: white;
    display: flex;
    gap: 3px;
    padding: 0px 8.99px 0px 3px;
    position: relative;
    width: fit-content;
    cursor: pointer;
  }
  
  
  .apply-payment-4 .frame-596 {
    height: 29.95px;
    min-width: 29.95px;
    position: relative;
  }
  
  .apply-payment-4 .delete-multiple {
    letter-spacing: 0;
    line-height: 21px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-container-1 {
    height: 240px;
    margin-left: 0;
    position: relative;
    width: 855px;
  }
  
  .apply-payment-4 .frame-560 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 855px;
  }
  
  .apply-payment-4 .frame-569 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: -143.78px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-556 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    display: flex;
    position: relative;
    width: 855px;
    height: 30px;
  }
  
  
  .apply-payment-4 .frame-456 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7.49px;
    height: 29.95px;
    justify-content: center;
    opacity: 0;
    padding: 4.49px 5.99px;
    position: relative;
    width: fit-content;
  }
  button.applybutton {
    border: none;
    background-color: white;
    max-width: 15px;
  }
  
  .apply-payment-4 .icsharp-delete-1 {
    height: 17.97px;
    margin-bottom: -1152.57px;
    margin-right: -806.65px;
    min-width: 18.13px;
    position: relative;
  }
  
  .apply-payment-4 .frame-552 {
    align-items: center;
    display: flex;
    gap: 7.5px;
    justify-content: center;
    padding: 9px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .apply-payment-4 .frame-556d {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    display: flex;
    position: relative;
    width: 855px;
  }
  
  .apply-payment-4 .frameofpromo {
    align-items: center;
    display: flex;
    gap: 7.5px;
    justify-content: center;
    padding: 9px;
    position: relative;
    width: 90px;
  }
  
  .apply-payment-4 .verified_fill1_wght400_grad0_opsz48-1 {
    height: 11.98px;
    min-width: 11.98px;
    position: relative;
  }
  
  .apply-payment-4 .promotion {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .component {
    align-items: center;
    background-color: var(--catskill-white-2);
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    border-right-style: solid;
    border-right-width: 0.75px;
    display: flex;
    gap: 7.5px;
    height: 30px;
    padding: 9px;
    position: relative;
    width: 150px;
  }
  
  .apply-payment-4 .sample {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .component-104 {
    align-items: center;
    display: flex;
    gap: 53.92px;
    height: 29.95px;
    padding: 8.99px;
    position: relative;
    width: 149.77px;
  }
  
  .apply-payment-4 .database-category {
    line-height: normal;
    margin-top: -1.26px;
  }
  
  .apply-payment-4 .database-file {
    line-height: normal;
    margin-top: -1.26px;
  }
  
  .apply-payment-4 .component-10 {
    height: 29.95px;
    min-width: 149.77px;
    position: relative;
  }
  
  .apply-payment-4 .dob {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-container-2 {
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 959px;
  }
  
  .apply-payment-4 .frame-557 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    display: flex;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 959px;
  }
  
  .apply-payment-4 .frame-45 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7.49px;
    height: 29.95px;
    justify-content: center;
    padding: 4.49px 5.99px;
    position: relative;
    width: 29.95px;
  }
  
  .apply-payment-4 .icsharp-delete {
    height: 17.97px;
    margin-left: -0.08px;
    margin-right: -0.08px;
    min-width: 18.13px;
    position: relative;
  }
  
  .apply-payment-4 .icsharp-delete[disabled] {
    filter: sepia(100%) hue-rotate(0deg) saturate(0) brightness(1) contrast(1) grayscale(0) invert(0) drop-shadow(0 0 0 #C0C0C0);
  }
  
  .apply-payment-4 .frame-553 {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    display: flex;
    gap: 7.49px;
    height: 30px;
    justify-content: center;
    left: 0;
    padding: 8.99px;
    position: absolute;
    top: 0;
    width: 90px;
  }
  
  .apply-payment-4 .frame-618 {
    background-color: white;
    align-items: center;
    border: 0.75px solid;
    border-color: var(--cerulean);
    border-radius: 26.96px;
    display: flex;
    gap: 5.99px;
    justify-content: center;
    margin-bottom: -3.50px;
    margin-top: -3.50px;
    padding: 3px 5.99px;
    position: relative;
    width: 50.17px;
  }
  input[type="checkbox"], progress {
    accent-color:var(--blue-dianne);
    
  }
  .apply-payment-4 .frame-55a {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    border-left-style: solid;
    border-left-width: 0.75px;
    display: flex;
    gap: 7.5px;
    justify-content: center;
    padding: 9px;
    position: relative;
    width: 35px;
    height: 31.6px;
  }
  .apply-payment-4 .frame-55 {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    border-left-style: solid;
    border-left-width: 0.75px;
    display: flex;
    gap: 7.5px;
    justify-content: center;
    padding: 9px;
    position: relative;
    width: fit-content;
    height: 30px;
  }
  
  .apply-payment-4 .frame-618[disabled] {
    border-color: #C0C0C0;
  }
  
  .apply-payment-4 .inter-normal-cerulean-10-5px[disabled] {
    color: #C0C0C0;
  }
  
  .apply-payment-4 .promotion[disabled] {
    color: #C0C0C0;
  }
  
  .apply-payment-4 .verified_fill1_wght400_grad0_opsz48-1[disabled] {
    filter: sepia(100%) hue-rotate(0deg) saturate(0) brightness(1) contrast(1) grayscale(0) invert(0);
    filter: sepia(100%) hue-rotate(0deg) saturate(0) brightness(1) contrast(1) grayscale(0) invert(0) drop-shadow(0 0 0 #C0C0C0);
  }
  
  .apply-payment-4 .frame-595 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    border-right-style: solid;
    border-right-width: 0.75px;
    display: flex;
    height: 30px;
    left: 90px;
    position: absolute;
    top: 0;
    width: 150px;
  }
  
  .apply-payment-4 .component-38 {
    align-items: center;
    background-color: var(--wild-sand);
    display: flex;
    gap: 7.49px;
    height: 30px;
    padding: 8.99px;
    position: relative;
    width: 150px;
  }
  
  .apply-payment-4 .component-1 {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    border-right-style: solid;
    border-right-width: 0.75px;
    display: flex;
    gap: 7.5px;
    height: 30px;
    padding: 9px;
    position: relative;
    width: 150px;
  }
  
  .apply-payment-4 .seurat {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: 66.65px;
  }
  
  .apply-payment-4 .material-symbolsnavigate-next {
    height: 11.98px;
    margin-right: -0.75px;
    min-width: 11.98px;
    position: relative;
  }
  
  .apply-payment-4 .gh-1234567 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    text-decoration: underline;
    width: fit-content;
  }
  
  .apply-payment-4 .component-9 {
    border-color: var(--geyser);
    border-right-style: solid;
    border-right-width: 0.75px;
    height: 29.95px;
    min-width: 149.77px;
    position: relative;
  }
  
  .apply-payment-4 .component-102 {
    align-items: center;
    display: flex;
    gap: 7.49px;
    height: 29.95px;
    margin-right: -59.91px;
    padding: 8.99px;
    position: relative;
    width: 149.77px;
  }
  
  .apply-payment-4 .date {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-558 {
    align-items: flex-start;
    border-bottom-style: solid;
    border-bottom-width: 0.75px;
    border-color: var(--geyser);
    display: flex;
    height: 30px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 959px;
  }
  
  .apply-payment-4 .fast-queue {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: 66.65px;
  }
  
  .apply-payment-4 .component-99 {
    align-items: center;
    border-color: var(--mystic);
    border-right-style: solid;
    border-right-width: 0.75px;
    display: flex;
    gap: 7.49px;
    height: 29.95px;
    margin-right: -59.91px;
    padding: 8.99px;
    position: relative;
    width: 149.77px;
  }
  
  .apply-payment-4 .date-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-559 {
    align-items: flex-start;
    display: flex;
    left: 0;
    position: absolute;
    top: 60px;
    width: 959px;
  }
  
  .apply-payment-4 .cell-ranger {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: 66.65px;
  }
  
  .apply-payment-4 .frame-573 {
    align-items: center;
    background-color: var(--mystic);
    display: flex;
    height: 12px;
    justify-content: space-between;
    left: 729px;
    padding: 3px;
    position: absolute;
    top: 114px;
    transform: rotate(90.00deg);
    width: 240px;
  }
  
  .apply-payment-4 .frame-449 {
    align-items: flex-start;
    display: flex;
    gap: 3px;
    justify-content: center;
    margin-bottom: -1.50px;
    margin-top: -1.50px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .iontriangle-sharp {
    height: 5.99px;
    margin-left: -1.50px;
    min-width: 8.99px;
    position: relative;
    transform: rotate(-90.00deg);
  }
  
  .apply-payment-4 .rectangle-235 {
    background-color: var(--silver);
    height: 8.99px;
    min-width: 199.19px;
    position: relative;
  }
  
  .apply-payment-4 .iontriangle-sharp-1 {
    height: 5.99px;
    margin-right: -1.50px;
    min-width: 8.99px;
    position: relative;
    transform: rotate(-90.00deg);
  }
  
  .apply-payment-4 .frame-572 {
    align-items: center;
    background-color: var(--mystic);
    display: flex;
    height: 12px;
    justify-content: space-between;
    margin-left: 0.75px;
    padding: 3px;
    position: relative;
    width: 842px;
  }
  
  .apply-payment-4 .frame-5-1a {
    border-collapse: collapse;
  }
  
  .apply-payment-4 .frame-5-1a th:first-child,
  .apply-payment-4 .frame-5-1a td:first-child {
    border-left: none;
  }
  
  .apply-payment-4 .frame-5-3a {
    align-items: flex-start;
    display: flex;
    position: relative;
    width: 845px;
  }
  
  .apply-payment-4 .frame-5-1a {
    flex-direction: column;
  }
  
  .apply-payment-4 .iontriangle-sharp-2 {
    height: 8.99px;
    min-width: 5.99px;
    position: relative;
  }
  
  .apply-payment-4 .rectangle-235-1 {
    background-color: var(--silver);
    height: 8.99px;
    min-width: 525.68px;
    position: relative;
  }
  
  .apply-payment-4 .iontriangle-sharp-3 {
    height: 8.99px;
    margin-bottom: -1.50px;
    margin-top: -1.50px;
    min-width: 5.99px;
    position: relative;
  }
  
  .apply-payment-4 .group-438 {
    height: 101.87px;
    min-width: 855.16px;
    position: relative;
  }
  
  .apply-payment-4 .payment {
    letter-spacing: 0;
    line-height: normal;
    min-height: 18px;
  }
  
  .apply-payment-4 .overlap-group-1 {
    height: 39px;
    left: 0;
    position: absolute;
    top: 0;
    width: 855px;
  }
  
  .apply-payment-4 .frame-214 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    gap: 7.49px;
    justify-content: center;
    left: 118px;
    padding: 10.48px 17.22px;
    position: absolute;
    top: 0;
    width: 118px;
  }
  
  .apply-payment-4 .membership {
    letter-spacing: 0;
    line-height: 18.0px;
    margin-top: -0.75px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-215a {
    align-items: center;
    background-color: var(--blue-dianne);
    display: flex;
    gap: 7.49px;
    justify-content: center;
    left: 0;
    padding: 10.48px 17.22px;
    position: absolute;
    top: 0;
    width: 118px;
  }
  
  .apply-payment-4 .freemiuma {
    letter-spacing: 0;
    line-height: 18.0px;
    margin-top: -0.75px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-590 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 550.71px;
    justify-content: space-between;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .apply-payment-4 .frame-58 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8.99px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .frame-582 {
    align-items: center;
    display: flex;
    gap: 120.93px;
    height: 17.97px;
    position: relative;
    width: fit-content;
  }
  
  .apply-payment-4 .order-summary {
    align-self: stretch;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.75px;
    position: relative;
    white-space: nowrap;
    width: 111.58px;
  }
  
  .apply-payment-4 .group-391 {
    align-self: stretch;
    height: 17.97px;
    margin-right: -2.00px;
    min-width: 75.39px;
    position: relative;
  }
  
  .apply-payment-4 .currency-usd {
    left: 0;
    letter-spacing: 0;
    line-height: 15.7px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 73px;
  }
  
  .apply-payment-4 .line-107 {
    height: 1px;
    margin-bottom: -0.25px;
    min-width: 235.13px;
    position: relative;
  }
  
  .apply-payment-4 .group-394 {
    height: 34.45px;
    min-width: 235.88px;
    position: relative;
  }
  
  .apply-payment-4 .group-393 {
    align-items: flex-start;
    display: flex;
    gap: 214px;
    height: 34px;
    min-width: 238px;
  }
  
  .apply-payment-4 .group-392 {
    height: 16.47px;
    min-width: 52.17px;
    position: relative;
  }
  
  .apply-payment-4 .samples {
    left: 0;
    letter-spacing: 0;
    line-height: 18.0px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 50px;
  }
  
  .apply-payment-4 .group-389 {
    height: 14.98px;
    margin-right: -6.00px;
    min-width: 61.41px;
    position: relative;
  }
  
  .apply-payment-4 .flex-row {
    align-items: flex-end;
    display: flex;
    gap: 9px;
    height: 15px;
    min-width: 55px;
  }
  
  .apply-payment-4 .number {
    align-self: flex-start;
    letter-spacing: 0;
    line-height: 15.7px;
    min-height: 15px;
    white-space: nowrap;
    width: 7px;
  }
  
  .apply-payment-4 .x {
    letter-spacing: 0;
    line-height: 15.7px;
    min-height: 15px;
    white-space: nowrap;
    width: 6px;
  }
  
  .apply-payment-4 .price {
    letter-spacing: 0;
    line-height: 15.7px;
    min-height: 15px;
    white-space: nowrap;
    width: 25px;
  }
  
  .apply-payment-4 .price-1 {
    letter-spacing: 0;
    line-height: 18.0px;
    margin-top: 0;
    min-height: 16px;
    white-space: nowrap;
  }
  
  .apply-payment-4 .frame-58-1 {
    align-items: center;
    display: flex;
    gap: 225px;
    position: relative;
    width: 205.18px;
  }
  
  .apply-payment-4 .frame-58-1a {
    align-items: center;
    display: flex;
    gap: 231.5px;
    position: relative;
    width: 205.18px;
  }
  
  .apply-payment-4 .subtotal {
    letter-spacing: 0;
    line-height: 15.7px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .price-2 {
    letter-spacing: 0;
    line-height: 18.0px;
    margin-top: -0.75px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .taxes10 {
    left: 0;
    letter-spacing: 0;
    line-height: 15.7px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .apply-payment-4 .price-3 {
    letter-spacing: 0;
    line-height: 18.0px;
    margin-top: -0.75px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .apply-payment-4 .line-112 {
    height: 1px;
    margin-bottom: -0.25px;
    min-width: 238.13px;
    position: relative;
  }
  
  .apply-payment-4 .frame-317a {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 7.49px;
    padding: 3px 8.99px;
    position: relative;
    width: fit-content;
    right: 15px;
  }
  
  .apply-payment-4 .group-427 {
    height: 33px;
    margin-right: -4.00px;
    min-width: 147.64px;
    position: relative;
    
  }
  
  .apply-payment-4 .total-amount {
    left: 0;
    letter-spacing: 0;
    line-height: 15.7px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .apply-payment-4 .price-4 {
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: line-through;
    top: 0;
  }
  
  .apply-payment-4 .group-428 {
    height: 33px;
    margin-right: -4.00px;
    min-width: 96.91px;
    position: relative;
    right: -23px;
  }
  
  .apply-payment-4 .price-5 {
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .apply-payment-4 .line-108 {
    height: 1px;
    left: 1180px;
    position: fixed;
    top: 605px;
    width: 235px;
    z-index: 6;
  }
  
  .apply-payment-4 .database {
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -0.56px;
    position: relative;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 10.5px;
  }
  
  .apply-payment-4 .gh-1234567-4 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.26px;
    position: relative;
    width: fit-content;
  }
    