@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Oxygen:400,300,700|Inter:400,700,300,500,600|Roboto:300|Source+Sans+Pro:400|Oswald:400,700");
/* screen - dashboard-1-2 */
body {
  overflow: scroll;
  overflow-y:scroll; 
  position:relative;
}
/* screen - dashboard-1-1440 */
/* screen - dashboard-1-1440 */

.dashboard-1-1440 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px none;
  display: flex;
  overflow: hidden;
  width: 1440px;

  /** Overrides**/
  --black: #000000;
  --blue-dianne: #25474f;
  --catskill-white: #f1f6f7;
  --geyser: #cedde1;
  --japanese-laurel: #009f06;
  --milano-red: #b60a0a;
  --mischka: #d0d3d8;
  --mystic: #e9ebed;
  --oslo-gray: #7c9195;
  --persian-blue: #1431c8;
  --red: #dd0000;
  --silver: #c0c0c0;
  --slate-gray: #707e8c;
  --tundora: #464646;
  --white: #ffffff;
 
  --font-size-l: 12px;
  --font-size-m: 10.5px;
  --font-size-xl: 15px;
  --font-size-xxl: 21px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 32px;
  --font-size-xxxxxl: 35px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-oswald: "Oswald", Helvetica;
  --font-family-oxygen: "Oxygen", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}


.logout {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  left: 0;
  padding: 11.25px 45px;
  position: absolute;
  bottom: 12%;
  width: 195px;
}

.logout-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .main-navigation {
  align-items: flex-start;
  display: flex;
  height: 100%;
  left: -2px;
  min-width: 195px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.dashboard-1-1440 .overlap-group1 {
  height: 100%;
  position: relative;
  width: 197px;
}

.dashboard-1-1440 .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.2px;
}

.dashboard-1-1440 .dashboard {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -1.50px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .draft_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.dashboard-1-1440 .my-files {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-615 {
  align-items: flex-start;
  border-color: var(--mystic);
  border-right-style: solid;
  border-right-width: 0.75px;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  height: 72px;
  justify-content: center;
  position: relative;
  width: 765px;
}

.dashboard-1-1440 .group-184 {
  align-items: flex-start;
  display: flex;
  height: 100%;
  left: 0;
  min-width: 197px;
  position: absolute;
  top: 0;
}

.dashboard-1-1440 .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
}


.dashboard-1-1440 .place {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-449 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: fit-content;
  left: 56px;
}


.dashboard-1-1440 .frame-610 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  left: 254px;
  position: fixed;
  top: 24px;
  width: 100%;
  z-index: 3;
}

.dashboard-1-1440 .get-started-with-our-services {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-448 {
  align-items: center;
  display: flex;
  gap: 9px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-447 {
  align-items: center;
  display: flex;
  gap: 7.5px;
  margin-bottom: -6.00px;
  margin-top: -6.00px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .dashbaord_main-buttons-researcher {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.75px solid;
  border-color: #cedde1;
  display: flex;
  gap: 7.5px;
  height: 36px;
  justify-content: space-around;
  padding: 15px 18px;
  position: relative;
  width: 165px;
}

.dashboard-1-1440 .researchers {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .assignment_fill0 {
  height: 18px;
  min-width: 18px;
  position: relative;
}

.dashboard-1-1440 .frame-473 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 254px;
  position: fixed;
  top: 126px;
  width: fit-content;
  z-index: 4;
}

.dashboard-1-1440 .frame-472 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dashboard-1-1440 .submitted-files {
  line-height: normal;
  margin-top: -0.75px;
}

.dashboard-1-1440 .component-3 {
  height: 12.75px;
  min-width: 41px;
  position: relative;
}

.dashboard-1-1440 .view-all {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.dashboard-1-1440 .frame-47 {
  align-items: flex-start;
  border: 0.75px solid;
  border-color: var(--mystic);
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-4 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--mystic);
  display: flex;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-455 {
  align-items: flex-start;
  background-color: var(--catskill-white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45px;
  justify-content: space-around;
  padding: 6px 15px;
  position: relative;
  width: 279px;
}

.dashboard-1-1440 .id {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .frame-456 {
  align-items: flex-start;
  background-color: var(--catskill-white);
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: center;
  padding: 6px 15px;
  position: relative;
  width: 118.5px;
}

.dashboard-1-1440 .frame-45 {
  align-items: flex-start;
  background-color: var(--catskill-white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45px;
  justify-content: space-around;
  padding: 6px 15px;
  position: relative;
  width: 118.5px;
}

.dashboard-1-1440 .frame-459 {
  align-items: flex-start;
  background-color: var(--catskill-white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45px;
  justify-content: space-around;
  padding: 6px 15px;
  position: relative;
  width: 130.5px;
}

.dashboard-1-1440 .download-est-time {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .frame-4-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-460 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45px;
  justify-content: space-around;
  padding: 6px 15px;
  position: relative;
  width: 279px;
}

.dashboard-1-1440 .frame-461 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: center;
  padding: 6px 15px;
  position: relative;
  width: 118.5px;
}

.dashboard-1-1440 .frame-46 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45px;
  justify-content: space-around;
  padding: 6px 15px;
  position: relative;
  width: 118.5px;
}

.dashboard-1-1440 .date-1 {
  line-height: 13.5px;
  white-space: nowrap;
}

.dashboard-1-1440 .frame-276 {
  align-items: center;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--japanese-laurel);
  border-radius: 12px;
  display: flex;
  gap: 6px;
  height: 24px;
  justify-content: center;
  padding: 6px;
  position: relative;
  width: 60px;
}

.dashboard-1-1440 .complete {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 13.5px;
  margin-bottom: -0.25px;
  margin-top: -1.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .frame-464 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 45px;
  justify-content: space-around;
  padding: 6px 15px;
  position: relative;
  width: 130.5px;
}

.dashboard-1-1440 .x2-files {
  height: 12px;
  min-width: 30px;
  position: relative;
}

.dashboard-1-1440 .address-1 {
  left: 0;
  position: absolute;
  top: -1px;
}

.dashboard-1-1440 .resaerch {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .date-2 {
  line-height: normal;
}

.dashboard-1-1440 .date-3 {
  line-height: normal;
}

.dashboard-1-1440 .frame-280 {
  align-items: center;
  border: 0.75px solid;
  border-color: var(--milano-red);
  border-radius: 12px;
  display: flex;
  gap: 6px;
  height: 24px;
  justify-content: center;
  padding: 6px;
  position: relative;
  width: 60.75px;
}

.dashboard-1-1440 .address {
  letter-spacing: 0;
  line-height: 13.5px;
  margin-bottom: -0.25px;
  margin-left: -0.12px;
  margin-right: -0.12px;
  margin-top: -1.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .address-2 {
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .gh-123447-1 {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .date-4 {
  line-height: normal;
}

.dashboard-1-1440 .pre-processing {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .address-3 {
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .gh-123445-1 {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .date-5 {
  line-height: normal;
}

.dashboard-1-1440 .frame-474 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 254px;
  position: fixed;
  top: 456px;
  width: fit-content;
  z-index: 5;
}

.dashboard-1-1440 .frame-472-1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 765px;
}

.dashboard-1-1440 .unsubmitted-files {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-45-1 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 3px;
  height: 45px;
  padding: 6px 15px;
  position: relative;
  width: 118.5px;
}

.dashboard-1-1440 .date-6 {
  line-height: 13.5px;
  white-space: nowrap;
}

.dashboard-1-1440 .resaerch-1 {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .date-7 {
  line-height: normal;
}

.dashboard-1-1440 .date-8 {
  line-height: normal;
}

.dashboard-1-1440 .date-9 {
  line-height: normal;
}

.dashboard-1-1440 .date-10 {
  line-height: normal;
}

.dashboard-1-1440 .frame-478 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 1078px;
  position: fixed;
  top: 156px;
  width: fit-content;
  z-index: 2;
}

.dashboard-1-1440 .frame-305 {
  align-items: center;
  background-color: var(--catskill-white);
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--mystic);
  display: flex;
  justify-content: space-between;
  padding: 12px;
  position: relative;
  width: 316.5px;
}

.dashboard-1-1440 .our-updates {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .view-all-1 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 1px;
  letter-spacing: 0;
  line-height: 13.5px;
  position: absolute;
  text-align: right;
  top: -1px;
  white-space: nowrap;
}

.dashboard-1-1440 .component {
  align-items: flex-start;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--mystic);
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  padding: 9px 12px;
  position: relative;
  width: 316.5px;
}

.dashboard-1-1440 .frame-287 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.dashboard-1-1440 .lorem-ipsum-dolor-si {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
}

.dashboard-1-1440 .date {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.dashboard-1-1440 .ut-enim-ad-minim-ven {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
}

.dashboard-1-1440 .duis-aute-irure-dolo {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
}

.dashboard-1-1440 .cost-usage {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .frame-468 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 292.5px;
}

.dashboard-1-1440 .price {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .pending {
  color: var(--persian-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .done {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .address-4 {
  letter-spacing: 0;
  line-height: 13.5px;
  white-space: nowrap;
}

.dashboard-1-1440 .clinical-6 {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .date-11 {
  letter-spacing: 0;
  position: relative;
  width: fit-content;
}

.dashboard-1-1440 .gh {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .gh-123325-8 {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .place-3 {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-1-1440 .text {
  letter-spacing: 0;
  line-height: 13.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


 .frame-185 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 35px;
  left: 0;
  position: absolute;
  top: 123px;
  width: fit-content;
  height: 36px;
  padding: 11.25px 45px;
}

 .frame-185-item {
  align-items: center;
  display: flex;
  gap: 9px;
  /* height: 36px; */
  /* padding: 11.25px 45px; */
  position: relative;
  width: 195px;
}

/** fonts **/

.inter-normal-tundora-10-5px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.oxygen-bold-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-blue-dianne-10-5px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.oxygen-normal-blue-dianne-30px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.oxygen-light-blue-dianne-32px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 300;
}

.inter-semi-bold-blue-dianne-15px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.oxygen-bold-white-21px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-slate-gray-10-5px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-persian-blue-10-5px {
  color: var(--persian-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-silver-10-5px {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-light-blue-dianne-15px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.inter-semi-bold-tundora-12px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-japanese-laurel-12px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.oxygen-normal-blue-dianne-35px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}

.oxygen-bold-blue-dianne-40px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.oxygen-light-white-21px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.inter-semi-bold-japanese-laurel-12px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.oxygen-normal-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.oswald-normal-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-white-10-5px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.oxygen-normal-tundora-21px {
  color: var(--tundora);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.oxygen-bold-tundora-30px {
  color: var(--tundora);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-red-10-5px {
  color: var(--red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-blue-dianne-10-5px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-slate-gray-8-2px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: 8.2px;
  font-style: normal;
  font-weight: 600;
}

.inter-normal-slate-gray-10-5px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}


.inter-semi-bold-blue-dianne-12px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}