.framebox {
    width: 100%;
    height: auto;
    max-height: 253px;
    padding-bottom: 10px;
    border: 0.75px solid #CEDDE1;
    overflow: auto;
}

.progress-framebox {
    width: auto;
}

.progress-title {
    width: 100%;
    height: 31px;
}

.progress-line {
    box-sizing: border-box;
    top: 462px;
    left: 410.25px;
    width: 970px;
    border-top: 0.75px solid;
    margin-top: 27px;
    margin-bottom: 27px;
    color: #F2F6F7;
}

.title-componenet {
    width: 150px;
    height: 30px;
    padding: 9px;
}

.title-font {
    font-family: "Inter";
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #717F8C;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    font-family: "Inter";
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #717F8C;
}

.header,
.row {
    display: flex;
    border: none;
}

.cell {
    font-family: "Inter";
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    width: 150px;
    height: 30px;
    padding: 7.5px;
    text-align: left;
    border-bottom: solid 0.75px #CEDDE1;
    border-right: solid 0.75px #CEDDE1;
}

.header-cell {
    width: 150px;
    height: 30px;
    padding: 7.5px;
    text-align: left;
    border-bottom: solid 0.75px #CEDDE1;
}

.last-header-cell {
    width: 150px;
    height: 30px;
    padding: 7.5px;
    text-align: left;
    border-bottom: solid 0.75px #CEDDE1;
    border-right: solid 0.75px #CEDDE1;
}

.first-cell {
    background-color: #F1F3F4;
}

.icon-position {
    position: relative;
    width: 129px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}