/* screen - portal-login */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600|Oxygen:300,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63a236ec63d7cd74a21d3405.63a236ed99ecd12a69868578.63c49d3d9565c9180a1f3b19.hcp.png");
/* screen - portal-login */



.portal-login {
  align-items: flex-start;
  /* background-color: var(--catskill-white); */
  border: 0.75px none;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;

  /*font data */
  --black: #000000;
  --blue-dianne: #25474f;
  --catskill-white: #f1f6f7;
  --geyser: #cedde1;
  --japanese-laurel: #009f06;
  --milano-red: #b60a0a;
  --mischka: #d0d3d8;
  --mystic: #e9ebed;
  --oslo-gray: #7c9195;
  --persian-blue: #1431c8;
  --red: #dd0000;
  --silver: #c0c0c0;
  --slate-gray: #707e8c;
  --tundora: #464646;
  --white: #ffffff;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-bold: "Inter-Bold", Helvetica;
  --font-family-inter-light: "Inter-Light", Helvetica;
  --font-family-oswald-bold: "Oswald-Bold", Helvetica;
  --font-family-oswald-regular: "Oswald-Regular", Helvetica;
  --font-family-oxygen: "Oxygen", Helvetica;
  --font-family-oxygen-regular: "Oxygen-Regular", Helvetica;
  --font-family-roboto-light: "Roboto-Light", Helvetica;
  --font-family-source_sans_pro-regular: "Source Sans Pro-Regular", Helvetica;
}

.portal-login .group-185 {
  align-items: flex-start;
  display: flex;
  gap: 3802px;
  height: 100%;
  left: 0;
  min-width: 197px;
  position: fixed;
  top: 0;
  z-index: 4;
}

.portal-login .line-79 {
  height: 1px;
  margin-left: -4611px;
  margin-top: -125.25px;
  width: 809px;
}

.portal-login .overlap-group1 {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.3px;
}

.portal-login .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 138px;
}

.portal-login .thank-you-for-your-i {
  align-self: center;
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  height: 57px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 84px;
  min-width: 553px;
  text-align: center;
  /* z-index: 3; */
}

.portal-login .login-form {
  align-items: flex-start;
  align-self: center;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 15px;
  padding: 36px 90px;
  z-index: 2;
}

.portal-login .frame-203 {
  align-items: center;
  gap: 42px;
}

.portal-login .title {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.portal-login .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: fit-content;
}

.portal-login .frame-19 {
  align-items: flex-start;
  gap: 6px;
}

.portal-login .username {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.portal-login .rectangle-211 {
  border: 0.75px solid;
  border-color: var(--blue-dianne);
  height: 39px;
  min-width: 318px;
  position: relative;
}

.portal-login .password {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.portal-login .login {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.75px solid;
  display: flex;
  gap: 6px;
  height: 45px;
  justify-content: center;
  padding: 13.5px 138px;
  position: relative;
  width: 318px;
  margin-top: 36px;
}

.portal-login .login-1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.portal-login .frame-204 {
  align-items: center;
  gap: 18px;
  margin-top: -10px;
}

.portal-login .group-201 {
  height: 15px;
  min-width: 318px;
  position: relative;
}

.portal-login .overlap-group {
  height: 15px;
  position: relative;
  width: 318px;
}

.portal-login .line-90 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 318px;
}

.portal-login .frame-204-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 99px;
  padding: 0px 6px;
  position: absolute;
  top: 0;
  width: 121px;
}

.portal-login .not-a-member-yet {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -56.62px;
  margin-right: -56.62px;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.portal-login .sign-upp {
  align-items: center;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--blue-dianne);
  display: flex;
  gap: 6px;
  height: 45px;
  justify-content: center;
  padding: 13.5px 138px;
  position: relative;
  width: 318px;
}

.portal-login .sign-up-1 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -36.00px;
  margin-right: -36.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.portal-login .icbaseline-download {
  height: 18px;
  margin-left: -3534.75px;
  margin-top: 73px;
  width: 18px;
  z-index: 1;
}

.portal-login .frame-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.portal-login .login-2 {
  position: relative;
  width: fit-content;
}

.portal-login .inter-normal-tundora-10-5px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .oxygen-bold-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.portal-login .inter-semi-bold-blue-dianne-10-5px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .inter-normal-persian-blue-10-5px {
  color: var(--persian-blue);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .inter-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .inter-semi-bold-slate-gray-10-5px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .oxygen-bold-white-21px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.portal-login .inter-semi-bold-tundora-12px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .inter-semi-bold-blue-dianne-15px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .oxygen-regular-normal-blue-dianne-30px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen-regular);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .oxygen-light-blue-dianne-32px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
}

.portal-login .inter-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .inter-normal-silver-10-5px {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .oxygen-light-white-21px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
}

.portal-login .inter-semi-bold-blue-dianne-12px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .inter-light-blue-dianne-15px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter-light);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

.portal-login .inter-normal-blue-dianne-10-5px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .inter-normal-japanese-laurel-12px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .oxygen-regular-normal-blue-dianne-35px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen-regular);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .oxygen-bold-blue-dianne-40px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.portal-login .inter-normal-slate-gray-10-5px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .inter-semi-bold-white-10-5px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .inter-normal-red-10-5px {
  color: var(--red);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .inter-semi-bold-japanese-laurel-12px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .oxygen-regular-normal-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .oswald-regular-normal-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oswald-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.portal-login .inter-semi-bold-tundora-10-5px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 600;
}

.portal-login .inter-normal-japanese-laurel-10-5px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
}

.oxygen-regular-normal-tundora-21px {
  color: var(--tundora);
  font-family: var(--font-family-oxygen-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.oxygen-bold-tundora-30px {
  color: var(--tundora);
  font-family: var(--font-family-oxygen);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-slate-gray-8-2px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: 8.2px;
  font-style: normal;
  font-weight: 600;
}
