.input-style {
    border: none;
    padding: 9px;
    text-align: left;
    vertical-align: middle;
    font-family: 'Inter';
    font-size: 10.5px;
    word-wrap: break-word;
}

.input-box {
    overflow: hidden;
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.75px solid #CEDDE1;
}

.excel-five-frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    width: 100%;
    height: 400px;
    top: 174px;
    left: 253.5px;
}

.errorbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 610px;
    left: 1090px;
    width: 350.25px;
    height: 54px;
    top: 609.75px;
    left: 1089.75px;
    padding: 18px;
    border: 0.75px;
    gap: 7.5px;
    border: 0.75px solid #DD0000;
    background-color: #FFE3E1;
}

.errorbox-font {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}