/* screen - apply-metadatabase-input-import-excel-file-select-header-row */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Oxygen:400,300,700|Roboto:300|Inter:400,700,500,600|Source+Sans+Pro:400|Oswald:400,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63a236ec63d7cd74a21d3405.63a236ed99ecd12a69868578.63c49d3d9565c9180a1f3b19.hcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.apply-metadatabase-input-import-excel-file-select-header-row {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1920px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-437 {
  align-items: flex-start;
  display: flex;
  height: 100%;
  /* height: 1080px; */
  left: -2px;
  min-width: 260px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.apply-metadatabase-input-import-excel-file-select-header-row .overlap-group1 {
  height: 100%;
  /* height: 1080px; */
  position: relative;
  width: 262px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-184 {
  align-items: flex-end;
  display: flex;
  height: 100%;
  /* height: 1080px; */
  left: 0;
  min-width: 262px;
  position: absolute;
  top: 0;
}

.apply-metadatabase-input-import-excel-file-select-header-row .overlap-group {
  align-items: flex-start;
  background-color: var(--catskill-white);
  display: flex;
  height: 100%;
  /* height: 1080px; */
  justify-content: flex-end;
  min-width: 260px;
  padding: 22px 35px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 35px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .line-79 {
  height: 100%;
  /* height: 1079px; */
  object-fit: cover;
  width: 1px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-13 {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 164px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .dashboard {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-14 {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 224px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .draft_fill1_wght400_grad0_opsz48-1-1 {
  height: 24px;
  margin-bottom: -3px;
  margin-top: -3px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .my-files {
  height: 19px;
  width: 83px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-22 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 1px;
  padding: 15px 60px;
  position: absolute;
  top: 866px;
  width: 258px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .logout_fill0_wght400_grad0_opsz48-1 {
  height: 24px;
  margin-bottom: -3px;
  margin-top: -3px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .logout {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-13-1 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 584px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .import_contacts_fill {
  height: 24px;
  margin-bottom: -3px;
  margin-top: -3px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .tutorial {
  height: 19px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: 83px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-21 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 284px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .paid_fill0_wght400_grad0_opsz48-1 {
  height: 24px;
  margin-bottom: -3px;
  margin-top: -3px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .cost-usage {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-23 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 344px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .my-profile {
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-18 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 524px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .contact_support_fill {
  height: 24px;
  margin-bottom: -3px;
  margin-top: -3px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .faq-support {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -2px;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-19 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 464px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-24 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  gap: 12px;
  height: 48px;
  left: 0;
  padding: 15px 60px;
  position: absolute;
  top: 404px;
  width: 260px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .settings {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-325 {
  align-items: flex-start;
  display: flex;
  height: 148px;
  left: 258px;
  min-width: 1662px;
  position: fixed;
  top: 932px;
  z-index: 3;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-616 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-top: -12px;
  padding: 12px 80px;
  width: 1662px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-34 {
  align-items: center;
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 12px 24px;
  width: 180px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .researchers {
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-33 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 12px 24px;
  width: 180px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-447 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--mystic);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 128px;
  justify-content: center;
  left: 258px;
  padding: 17px 80px;
  position: fixed;
  top: 0;
  width: 1662px;
  z-index: 4;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-350 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 1502px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-258 {
  align-items: flex-end;
  display: flex;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .getting-started {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .rectangle-228 {
  background-color: var(--blue-dianne);
  height: 4px;
  min-width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .metadatabase-input {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .database-input {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .rectangle-228-1 {
  background-color: var(--catskill-white);
  height: 4px;
  min-width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .pay-submit {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-2 {
  align-items: center;
  display: flex;
  gap: 12px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-33-1 {
  align-items: center;
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 12px 24px;
  width: 160px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .discard-exit {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.7px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-31 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 12px 24px;
  width: 160px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .researchers-2 {
  margin-top: -1.7px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-527 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 338px;
  position: fixed;
  top: 144px;
  width: fit-content;
  z-index: 2;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-503 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1502px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-283 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--catskill-white);
  display: flex;
  height: 48px;
  justify-content: space-between;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-504 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-454 {
  align-items: center;
  display: flex;
  margin-bottom: -2px;
  margin-top: -2px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-214 {
  align-items: center;
  background-color: var(--blue-dianne);
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 12px 24px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .import-excel-file {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-215 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: center;
  padding: 14px 23px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .manual-data-input {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-317 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-bottom: -2px;
  margin-top: -2px;
  padding: 4px 12px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .expected-amount {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .price {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame {
  align-items: center;
  display: flex;
  gap: 16px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-620 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-260-1 {
  height: 48px;
  min-width: 48px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-457 {
  align-items: center;
  background-color: var(--tea-green);
  border-radius: 24px;
  display: flex;
  height: 48px;
  min-width: 48px;
  padding: 0 12px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .done_fill0_wght400_grad0_opsz48-1 {
  height: 24px;
  width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .upload-file {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .line-9 {
  height: 2px;
  min-width: 85px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-260 {
  height: 48px;
  min-width: 50px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .overlap-group-1 {
  background-color: var(--blue-dianne);
  padding: 14px 19px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  min-width: 10px;
  text-align: center;
}

.apply-metadatabase-input-import-excel-file-select-header-row .match-columns {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .overlap-group-2 {
  background-color: var(--catskill-white);
  justify-content: flex-end;
  padding: 14px 18px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-1 {
  min-height: 19px;
  min-width: 11px;
  text-align: center;
}

.apply-metadatabase-input-import-excel-file-select-header-row .validate-data {
  letter-spacing: 0;
  line-height: normal;
  width: 99px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-526 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-525 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-267 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .your-excel-sheet-col {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-528 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 148px;
  justify-content: space-between;
  overflow: scroll;
  width: 1502px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-524 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -6px;
  width: 1508px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-518 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--geyser);
  display: flex;
  margin-right: -92px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-2-1 {
  align-items: center;
  background-color: var(--catskill-white);
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  padding: 16px 32px;
  width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .sample {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .dob {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .height {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .weight-kg {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .primary-region {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .subtype {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .grade {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .surgery {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-523 {
  align-items: flex-start;
  display: flex;
  margin-right: -92px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 32px 0px;
  width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-271-1 {
  border: 1px solid;
  border-color: var(--silver);
  height: 40px;
  justify-content: space-between;
  margin-left: -23.5px;
  margin-right: -23.5px;
  padding: 12px;
  width: 183px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .id {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-607 {
  height: 24px;
  margin-bottom: -4px;
  margin-top: -4px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-271-2 {
  flex-direction: column;
  padding: 12px 32px 0px;
  width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .group-266 {
  height: 40px;
  margin-left: -23.5px;
  margin-right: -23.5px;
  min-width: 183px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-271 {
  align-items: center;
  border: 1px solid;
  border-color: var(--silver);
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 12px;
  width: 183px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .weight-kg-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .height-cm {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .dob-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .primary {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .subtype-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .grade-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .surgery-1 {
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  white-space: nowrap;
  width: 87px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-607-1 {
  height: 24px;
  margin-left: -6193.5px;
  margin-top: -1216px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-525-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--mystic);
  display: flex;
  height: 16px;
  justify-content: space-between;
  padding: 4px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-449 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-bottom: -2px;
  margin-top: -2px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .iontriangle-sharp {
  height: 12px;
  min-width: 8px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .rectangle-235 {
  background-color: var(--silver);
  height: 12px;
  min-width: 1155px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .iontriangle-sharp-1 {
  height: 12px;
  margin-bottom: -2px;
  margin-top: -2px;
  min-width: 8px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-517 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .preview {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-51 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-5 {
  align-items: flex-start;
  display: flex;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 12px;
  width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .id-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .dob-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .height-cm-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .weight-kg-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .primary-region-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .subtype-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .grade-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-104 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 12px;
  width: 102px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .surgery-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-514 {
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--geyser);
  height: 176px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  min-width: 1504px;
  position: relative;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-511 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1502px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-1 {
  align-items: center;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--mystic);
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 12px;
  width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .gh-1234567 {
  margin-top: -1.5px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-2 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--mystic);
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 12px;
  width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-2 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-3 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .date {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .breast {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .er {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-4 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-3 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--mystic);
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 12px;
  width: 102px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .yes {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-511-1 {
  align-items: flex-start;
  display: flex;
  margin-right: -98px;
  width: 1600px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-5 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .e-rdfa {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .date-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .breast-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .tnbc {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-6 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .yes-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-7 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-8 {
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .component-4 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--mystic);
  height: 40px;
  min-width: 200px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .place {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-450 {
  align-items: center;
  background-color: var(--mystic);
  display: flex;
  height: 16px;
  justify-content: space-between;
  left: 0;
  padding: 4px;
  position: absolute;
  top: 160px;
  width: 1502px;
}

.apply-metadatabase-input-import-excel-file-select-header-row
  .iontriangle-sharp-2 {
  height: 12px;
  margin-left: 1737px;
  margin-top: 700px;
  width: 8px;
  z-index: 1;
}

.apply-metadatabase-input-import-excel-file-select-header-row .frame-271-3 {
  align-items: center;
  display: flex;
}

.apply-metadatabase-input-import-excel-file-select-header-row .gh {
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .gh-1234567-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  width: fit-content;
}

.apply-metadatabase-input-import-excel-file-select-header-row .icon {
  height: 24px;
  margin-bottom: -3px;
  margin-top: -3px;
  min-width: 24px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .my {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .number-9 {
  letter-spacing: 0;
  line-height: normal;
}

.apply-metadatabase-input-import-excel-file-select-header-row .overlap-group-3 {
  align-items: flex-end;
  border-radius: 24px;
  display: flex;
  height: 48px;
  min-width: 48px;
}

.apply-metadatabase-input-import-excel-file-select-header-row .researchers-3 {
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

:root {
  --black: #000000;
  --blue-dianne: #25474f;
  --catskill-white: #f1f6f7;
  --geyser: #cedde1;
  --japanese-laurel: #009f06;
  --mystic: #e9ebed;
  --oslo-gray: #7c9195;
  --silver: #c0c0c0;
  --slate-gray: #707e8c;
  --tea-green: #daf7c2;
  --tundora: #464646;
  --white: #ffffff;

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 20px;
  --font-size-xxxl: 32px;
  --font-size-xxxl2: 28px;
  --font-size-xxxxl: 36px;

  --font-family-inter: "Inter", Helvetica;
  --font-family-oxygen: "Oxygen", Helvetica;
}
.inter-normal-tundora-14px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-blue-dianne-16px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-slate-gray-14px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-16px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.oxygen-bold-blue-dianne-28px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-blue-dianne-14px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-japanese-laurel-16px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-oslo-gray-16px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-slate-gray-16px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-tundora-20px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.oxygen-light-blue-dianne-28px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 300;
}

.inter-semi-bold-slate-gray-32px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-slate-gray-14px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-36px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
