@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,600");

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    width: 90%;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modal > section > header {
    position: relative;
    background-color: #fff;
    font-weight: 700;
    height: 20px;
  }
  .modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: transparent;
  }
  .modal > section > main {
    padding: 16px;
  }
  .modal > section > footer {
    padding: 12px 16px;
    text-align: right;
  }
  .modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #fff;
    border-radius: 5px;
    font-size: 13px;
  }
  .modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 0.3s;
  }
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* screen - request-demo */

.request-demo {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 78px;
  height: 700px;
  min-width: 700px;
  overflow-x: hidden;
  padding: 30px 120px;
  position: relative;
}

.request-demo .modal-group-460 {
  height: 700px;
  margin-bottom: -113.00px;
  min-width: 712px;
  position: fixed;
}

.request-demo .modal-overlap-group {
  height: 700px;
  position: relative;
  width: 712px;
}

.request-demo .modal-frame-203 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 712px;
}

.request-demo .modal-hello-you-caught-us {
  color: var(--blue-dianne);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -20.00px;
  position: relative;
  text-align: center;
  width: 650px;
}

.request-demo .modal-span0 {
  font-weight: 600;
  font-size: 30px;
}

.request-demo .modal-span1 {
  font-size: 36px;
  font-weight: 600;
}

.request-demo .modal-span-1 {
  font-size: 10px;
  font-weight: 600;
}

.request-demo .modal-thanks {
  font-size: 14px;
  font-weight: 600;
}

.request-demo .modal-frame-202 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.request-demo .modal-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.request-demo .modal-enter-your-email-here {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.request-demo .modal-input-bg {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--mischka);
  border-radius: 12px;
  height: 48px;
  min-width: 367px;
  position: relative;
}

.request-demo .modal-place {
  letter-spacing: 0;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.request-demo .modal-span1-1 {
  color: var(--blue-dianne);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.request-demo .modal-tion {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.request-demo .modal-frame-199 {
  height: 19px;
  min-width: 424px;
  position: relative;
}

.request-demo .modal-sign-up {
  background-color: var(--blue-dianne);
  align-items: center;
  border: 1px solid;
  border-color: var(--blue-dianne);
  display: flex;
  gap: 8px;
  height: 60px;
  justify-content: center;
  align-items: center;
  left: 172px;
  padding: 18px 184px;
  position: absolute;
  top: 600px;
  width: 367px;
}

.request-demo .modal-sign-up-text {
  color: #fff;
  /* font-family: "Inter", Helvetica; */
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  width: fit-content;
  text-align: center;
  width: 367px;
}

.request-demo .inter-light-blue-dianne-15px {
  color: var(--blue-dianne);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
}

/* screen - pdf-demo-2 */

.pdf-demo-2 {
  align-items: flex-start;
  background-color: #fff;
  border: 1px none;
  display: flex;
  min-height: 648px;
  min-width: 976px;
  position: relative;
  width: 100%;
}

#overlay-pdf-demo-2 {
  align-items: center;
  background-color: #00000066;
  justify-content: center;
}

.pdf-demo-2 .pdf-demo {
  align-items: flex-start;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  width: fit-content;
}

.pdf-demo-2 .frame-3390 {
  background-color: #f2f6f7;
  height: 648px;
  min-width: 510px;
  position: relative;
}

.pdf-demo-2 .frame-630 {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 29px;
  left: 24px;
  position: absolute;
  top: 595px;
  width: 235px;
}

.pdf-demo-2 .frame-621 {
  background-color: transparent;
  background-image: url(../../public//frame-621-4.svg);
  background-size: 100% 100%;
  height: 29px;
  min-width: 29px;
  position: relative;
}

.pdf-demo-2 .witt-gen-biotechnologies {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.pdf-demo-2 .frame-3460 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 24px;
  position: absolute;
  top: 64px;
  width: fit-content;
}

.pdf-demo-2 .hello-you-caught-us-before-were-ready {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 45px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.pdf-demo-2 .we-are-working-hard {
  color: #464646;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.8px;
  position: relative;
  width: 462px;
  font-size: 16px;
}

.pdf-demo-2 .frame-3463 {
  background-color: var(--white);
  height: 648px;
  min-width: 466px;
  position: relative;
}

.pdf-demo-2 .frame-3464 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 48px;
  position: absolute;
  top: 64px;
  width: fit-content;
}

.pdf-demo-2 .welcome-register-your-email {
  color: var(--mine-shaft);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pdf-demo-2 .frame-3461 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: fit-content;
}

.pdf-demo-2 .frame-3454 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.pdf-demo-2 .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.pdf-demo-2 .email {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pdf-demo-2 .frame-345 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  border-radius: 5px;
  height: 48px;
  min-width: 370px;
  position: relative;
}

.pdf-demo-2 .input {
  left: 12px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.pdf-demo-2 .name {
  color: transparent;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.pdf-demo-2 .tion {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.pdf-demo-2 .sign-up {
  align-items: center;
  background-color: var(--blue-dianne);
  border-radius: 5px;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 18px 184px;
  position: relative;
  width: 370px;
}

.pdf-demo-2 .registration {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -5.00px;
  margin-left: -45.50px;
  margin-right: -45.50px;
  margin-top: -7.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pdf-demo-2 .close {
  background-color: transparent;
  background-image: url(../../public/close@2x.png);
  background-size: 100% 100%;
  height: 24px;
  left: 426px;
  position: absolute;
  top: 16px;
  width: 24px;
  
}

