/* screen - create-an-account */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,600|Oxygen:300,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63a236ec63d7cd74a21d3405.63a236ed99ecd12a69868578.63c49d3d9565c9180a1f3b19.hcp.png");

.screen-register a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.create-an-account {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1920px;
}

.create-an-account .group-184 {
  align-items: flex-start;
  display: flex;
  gap: 10145px;
  height: 1080px;
  left: 0;
  min-width: 262px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.create-an-account .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 1080px;
  justify-content: flex-end;
  min-width: 260px;
  padding: 22px 35px;
}

.create-an-account .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  width: 184px;
}

.create-an-account .line-79 {
  height: 1px;
  margin-top: -8721px;
  width: 1079px;
}

.create-an-account .group-460 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 354px;
  min-height: 891px;
  position: fixed;
  top: 57px;
  width: 1212px;
  z-index: 2;
}

.create-an-account .component-85 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: fit-content;
}

.create-an-account .frame-459-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
}

.create-an-account .title {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.create-an-account .frame {
  align-items: center;
  display: flex;
  gap: 16px;
  width: fit-content;
}

.create-an-account .already-have-an-account {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.create-an-account .login {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.create-an-account .frame-630 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  width: fit-content;
}

.create-an-account .frame-459 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

.create-an-account .login-information {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.create-an-account .group-405 {
  height: 72px;
  min-width: 576px;
}

.create-an-account .frame-4 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 72px;
  width: fit-content;
}

.create-an-account .frame-40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: -1px;
  width: fit-content;
}

.create-an-account .frame-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
}

.create-an-account .first-name {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-290 {
  align-items: flex-start;
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 12px;
  width: 280px;
}

.create-an-account .group-234 {
  height: 21px;
  min-width: 116px;
  position: relative;
}

.create-an-account .x1234emailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.create-an-account .last-name {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-30 {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 72px;
  width: fit-content;
}

.create-an-account .group-317 {
  height: 70px;
  min-width: 576px;
}

.create-an-account .group-298 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 70px;
  width: 576px;
}

.create-an-account .frame-2 {
  align-items: center;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.create-an-account .send-notifications-to {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .for-receiving-updates-to-your-file-only {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -1px;
  width: fit-content;
}

.create-an-account .frame-290-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 12px 6px 12px 12px;
  width: 576px;
}

.create-an-account .group-234-1 {
  min-width: 138px;
}

.create-an-account .exampleemailcom {
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.create-an-account .phone-number {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-290-1 {
  height: 45px;
  width: 576px;
}

.create-an-account .password {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-306 {
  align-items: center;
  display: flex;
  gap: 24px;
  width: fit-content;
}

.create-an-account .confirm-password {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .basic-information {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}

.create-an-account .register-as {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 72px;
  width: fit-content;
}

.create-an-account .register-as-1 {
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-291 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  width: 252px;
}

.create-an-account .checkbox {
  border: 1px solid;
  border-color: var(--blue-dianne);
  border-radius: 2px;
  height: 16px;
  min-width: 16px;
}

.create-an-account .frame-304 {
  align-items: center;
  display: flex;
  gap: 16px;
  margin-bottom: -1px;
  width: fit-content;
}

.create-an-account .frame-301 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: -1px;
  width: fit-content;
}

.create-an-account .department-laboratory {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-4-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}

.create-an-account .frame-290-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 12px;
  width: 576px;
}

.create-an-account .state-province {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-29 {
  align-items: center;
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 12px;
  width: 280px;
}

.create-an-account .group-234-2 {
  min-width: 155px;
}

.create-an-account .frame-607 {
  height: 24px;
  min-width: 24px;
}

.create-an-account .group-298-1 {
  height: 73px;
  margin-bottom: -1px;
  min-width: 280px;
}

.create-an-account .city {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .group-234-3 {
  min-width: 84px;
}

.create-an-account .frame-461 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  width: fit-content;
}

.create-an-account .country {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .group-234-4 {
  min-width: 111px;
}

.create-an-account .frame-301-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 72px;
  width: fit-content;
}

.create-an-account .zip-postal-code {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-290-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  margin-bottom: -1px;
  padding: 12px;
  width: 120px;
}

.create-an-account .group-234-5 {
  margin-right: -26px;
  min-width: 122px;
}

.create-an-account .frame-container {
  align-items: flex-end;
  display: flex;
  gap: 270px;
  height: 238px;
  min-width: 1212px;
}

.create-an-account .union {
  height: 33px;
  min-width: 9px;
}

.create-an-account .frame-546 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--geyser);
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  width: fit-content;
}

.create-an-account .group-445 {
  height: 89px;
  min-width: 366px;
}

.create-an-account .frame-551 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.create-an-account .frame-438 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 24px;
  width: 366px;
}

.create-an-account .frame-445 {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-right: -8px;
  width: fit-content;
}

.create-an-account .error_fill0_wght400_grad0_opsz48-1 {
  height: 12px;
  min-width: 12px;
}

.create-an-account .password-security {
  color: var(--milano-red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: 310px;
}

.create-an-account .your-password-must-b {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  width: 318px;
}

.create-an-account .group-446 {
  height: 108px;
  min-width: 366px;
}

.create-an-account .frame-551-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.create-an-account .frame-438-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 24px;
  width: 366px;
}

.create-an-account .password-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.create-an-account .done_fill0_wght400_grad0_opsz48-1-2 {
  height: 16px;
  min-width: 16px;
}

.create-an-account .ellipse-25 {
  background-color: var(--alto);
  border-radius: 2px;
  height: 4px;
  left: 6px;
  position: relative;
  top: 6px;
  width: 4px;
}

.create-an-account .address {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .mixture-of-letters-and-numbers {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .mixture-of-upper-and-lowercase {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .special-characters {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-636 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 34px;
  width: fit-content;
}

.create-an-account .login-1 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 1px solid;
  display: flex;
  gap: 8px;
  height: 60px;
  justify-content: center;
  padding: 18px 184px;
  width: 576px;
}

.create-an-account .login-2 {
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.create-an-account .by-signing-up-you-a {
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .icbaseline-download {
  height: 24px;
  margin-left: 11840px;
  margin-top: -7585px;
  width: 24px;
  z-index: 1;
}

.create-an-account .a {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .company {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.create-an-account .frame-290-5 {
  border: 1.2px solid;
  border-color: var(--geyser);
}

.create-an-account .group-234-6 {
  height: 21px;
  position: relative;
}

.create-an-account .select-a {
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.create-an-account .x1234emailcom-6 {
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

:root {
  --alto: #d9d9d9;
  --black: #000000;
  --blue-dianne: #25474f;
  --cerulean: #0fb3da;
  --geyser: #cedde1;
  --milano-red: #b60a0a;
  --persian-blue: #1431c8;
  --silver: #c0c0c0;
  --slate-gray: #707e8c;
  --tahiti-gold: #ea7910;
  --tundora: #464646;
  --white: #ffffff;

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 11px;
  --font-size-xl: 18px;
  --font-size-xl2: 20px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 36px;

  --font-family-inter: "Inter", Helvetica;
  --font-family-oxygen: "Oxygen", Helvetica;
}
.inter-normal-slate-gray-14px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-tahiti-gold-11px {
  color: var(--tahiti-gold);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-20px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-tundora-14px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-persian-blue-14px {
  color: var(--persian-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.oxygen-bold-blue-dianne-28px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.oxygen-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.oxygen-light-white-28px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.inter-semi-bold-blue-dianne-36px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-slate-gray-16px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-cerulean-16px {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-silver-14px {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-slate-gray-14px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-black-14px-2 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
