/* screen - apply-submitted */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Oxygen:400,300,700|Roboto:300|Inter:400,700,500,600|Source+Sans+Pro:400|Oswald:400,700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63a236ec63d7cd74a21d3405.63a236ed99ecd12a69868578.63c49d3d9565c9180a1f3b19.hcp.png");
/* screen - apply-submitted */

.apply-submitted {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px none;
  display: flex;
  overflow: hidden;
  width: 1440px;

  /** Overrides**/
  --black: #000000;
  --blue-dianne: #25474f;
  --catskill-white: #f1f6f7;
  --geyser: #cedde1;
  --japanese-laurel: #009f06;
  --milano-red: #b60a0a;
  --mischka: #d0d3d8;
  --mystic: #e9ebed;
  --oslo-gray: #7c9195;
  --persian-blue: #1431c8;
  --red: #dd0000;
  --silver: #c0c0c0;
  --slate-gray: #707e8c;
  --tundora: #464646;
  --white: #ffffff;
 
  --font-size-l: 12px;
  --font-size-m: 10.5px;
  --font-size-xl: 15px;
  --font-size-xxl: 21px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 32px;
  --font-size-xxxxxl: 35px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-oswald: "Oswald", Helvetica;
  --font-family-oxygen: "Oxygen", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}

.apply-submitted .main-navigation {
  align-items: flex-start;
  display: flex;
  height: 100%;
  left: -2px;
  min-width: 195px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.apply-submitted .overlap-group1 {
  height: 100%;
  position: relative;
  width: 197px;
}

.apply-submitted .group-184 {
  align-items: flex-end;
  display: flex;
  height: 100%;
  left: 0;
  min-width: 197px;
  position: absolute;
  top: 0;
}

.apply-submitted .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.2px;
}

.apply-submitted .line-79 {
  height: 809px;
  width: 1px;
}

.apply-submitted .icon-home {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.apply-submitted .dashboard {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.apply-submitted .my-files {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -1.50px;
  margin-top: -3.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-submitted .frame-447 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--mystic);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 96px;
  justify-content: center;
  left: 194px;
  padding: 12.75px 60px;
  position: fixed;
  top: 0;
  width: 1246px;
  z-index: 2;
}

.apply-submitted .database-input {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-submitted .submit {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-submitted .component-33 {
  align-items: center;
  border: 0.9px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 7.5px;
  height: 30px;
  justify-content: center;
  padding: 9px 18px;
  position: relative;
  width: 120px;
}

.apply-submitted .discard-exit {
  letter-spacing: 0;
  line-height: normal;
  margin-left: -7.50px;
  margin-right: -7.50px;
  margin-top: -1.40px;
  position: relative;
  width: fit-content;
}

.apply-submitted .frame-662 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--mystic);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 96px;
  justify-content: center;
  left: 194px;
  padding: 12.75px 60px;
  position: fixed;
  top: 0;
  width: 1246px;
  z-index: 3;
}

.apply-submitted .frame-350-1 {
  align-items: flex-end;
  display: flex;
  gap: 297px;
  justify-content: center;
  position: relative;
  width: 1126.5px;
}

.apply-submitted .submit-1 {
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-submitted .frame-581 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 208px;
  left: 254px;
  position: fixed;
  top: 108px;
  width: fit-content;
  z-index: 4;
  right: 60px;
}

.apply-submitted .frame-578 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: fit-content;
}

.apply-submitted .frame-364 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: fit-content;
}

.apply-submitted .group-363 {
  background-color: var(--white);
  border: 1.5px solid;
  border-color: var(--japanese-laurel);
  border-radius: 18px;
  height: 36px;
  min-width: 36px;
  position: relative;
}

.apply-submitted .material-symbolscheck-small {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.apply-submitted .your-application-has {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.apply-submitted .line-105 {
  height: 1px;
  margin-bottom: -0.25px;
  min-width: 1123.5px;
  position: relative;
}

.apply-submitted .frame-579 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: fit-content;
}

.apply-submitted .frame-580 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.apply-submitted .file-id-gh-13728930 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-submitted .well-email-you-when {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-submitted .frame-488 {
  align-items: flex-start;
  display: flex;
  gap: 18px;
  position: relative;
  width: fit-content;
}

.apply-submitted .component-33-1 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.9px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 7.5px;
  height: 30.75px;
  justify-content: center;
  padding: 9px 18px;
  position: relative;
  width: fit-content;
}

.apply-submitted .see-my-file {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.03px;
  position: relative;
  width: fit-content;
}

.apply-submitted .back-to-dashboard {
  letter-spacing: 0;
  line-height: normal;
  margin-left: -6.00px;
  margin-right: -6.00px;
  margin-top: -1.40px;
  position: relative;
  width: fit-content;
}
