/* screen - apply-payment-6 */

.apply-payment-6 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px none;
  display: flex;
  height: 842.43px;
  overflow: hidden;
  width: 1437.75px;
}

.apply-payment-6 .main-navigation {
  align-items: flex-start;
  display: flex;
  height: 809px;
  left: -1px;
  min-width: 195px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.apply-payment-6 .group-184 {
  align-items: flex-end;
  display: flex;
  height: 809px;
  left: 0;
  min-width: 197px;
  position: absolute;
  top: 0;
}

.apply-payment-6 .overlap-group {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 809px;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.0px;
}

.apply-payment-6 .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
}

.apply-payment-6 .line-79 {
  height: 808px;
  margin-bottom: 0;
  width: 1px;
}

.apply-payment-6 .frame-185 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8.99px;
  left: 0;
  position: absolute;
  top: 123px;
  width: fit-content;
}

.apply-payment-6 .frame-185-item {
  align-items: center;
  display: flex;
  gap: 8.99px;
  height: 35.94px;
  padding: 11.23px 44.93px;
  position: relative;
  width: 194.7px;
}

.apply-payment-6 .home_fill0_wght400_grad0_opsz48-1 {
  height: 17.97px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 17.97px;
  position: relative;
}

.apply-payment-6 .dashboard {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.01px;
  margin-top: -1.51px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .draft_fill1_wght400_grad0_opsz48-1-1 {
  height: 17.97px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 17.97px;
  position: relative;
}

.apply-payment-6 .my-files {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -1.51px;
  margin-top: -3.01px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .paid_fill0_wght400_grad0_opsz48-1 {
  height: 17.97px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 17.97px;
  position: relative;
}

.apply-payment-6 .cost-usage {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.01px;
  margin-right: -0.12px;
  margin-top: -1.51px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .settings_fill0_wght400_grad0_opsz48-1 {
  height: 17.97px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 17.97px;
  position: relative;
}

.apply-payment-6 .settings {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.01px;
  margin-top: -1.51px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .contact_support_fill {
  height: 17.97px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 17.97px;
  position: relative;
}

.apply-payment-6 .faq-support {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.01px;
  margin-right: -2.12px;
  margin-top: -1.51px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .logout {
  align-items: center;
  display: flex;
  gap: 8.99px;
  height: 36px;
  left: 0;
  padding: 11.23px 44.93px;
  position: absolute;
  top: 716px;
  width: 195px;
}

.apply-payment-6 .logout_fill0_wght400_grad0_opsz48-1 {
  height: 17.97px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 17.97px;
  position: relative;
}

.apply-payment-6 .logout-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.01px;
  margin-top: -1.51px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .back-submit {
  align-items: flex-start;
  display: flex;
  left: 192px;
  position: fixed;
  top: 795px;
  width: 973px;
  z-index: 2;
}

.apply-payment-6 .frame-616 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-right: -1.50px;
  padding: 17.97px 59.91px;
  position: relative;
  width: 974.98px;
}

.apply-payment-6 .back-button {
  align-items: center;
  background-color: var(--white);
  border: 0.9px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 7.49px;
  height: 35.94px;
  justify-content: space-around;
  padding: 17.97px 59.91px;
  position: relative;
  width: 134.79px;
}

.apply-payment-6 .place {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -5.60px;
  margin-left: -5.01px;
  margin-right: -5.01px;
  margin-top: -7.40px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .next-button {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.9px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 7.49px;
  height: 35.94px;
  justify-content: center;
  padding: 17.97px 59.91px;
  position: relative;
  width: 149.77px;
}

.apply-payment-6 .next {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -5.60px;
  margin-left: -3.02px;
  margin-right: -3.02px;
  margin-top: -7.40px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .rectangle-252 {
  background-color: var(--cerulean);
  height: 3px;
  left: 193px;
  position: fixed;
  top: 93px;
  width: 1px;
  z-index: 3;
}

.apply-payment-6 .frame-592 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.56px solid;
  border-color: var(--mystic);
  display: flex;
  flex-direction: column;
  gap: 4.49px;
  height: 72px;
  justify-content: center;
  left: 193px;
  padding: 9.55px 44.93px;
  position: fixed;
  top: 0;
  width: 933px;
  z-index: 4;
}

.apply-payment-6 .frame-350 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 843.56px;
}

.apply-payment-6 .frame-49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4.49px;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .getting-started {
  letter-spacing: 0;
  line-height: 13.5px;
  margin-top: -0.56px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .rectangle-228 {
  background-color: var(--japanese-laurel);
  height: 2.25px;
  min-width: 112.32px;
  position: relative;
}

.apply-payment-6 .metadatabase-input {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.56px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .database-input {
  line-height: 24px;
  margin-top: -0.56px;
  white-space: nowrap;
}

.apply-payment-6 .submit {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -0.56px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .rectangle-228-1 {
  background-color: var(--blue-dianne);
  height: 2.25px;
  min-width: 112.32px;
  position: relative;
}

.apply-payment-6 .frame-213 {
  align-items: center;
  display: flex;
  gap: 6.74px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .component-33 {
  align-items: center;
  border: 0.67px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 5.62px;
  height: 22.46px;
  justify-content: center;
  padding: 6.74px 13.48px;
  position: relative;
  width: 89.86px;
}

.apply-payment-6 .x-exit {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.18px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .component-31 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.67px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 5.62px;
  height: 22.46px;
  justify-content: center;
  padding: 6.74px 13.48px;
  position: relative;
  width: 89.86px;
}

.apply-payment-6 .rectangle-248 {
  background-color: var(--cerulean);
  height: 6px;
  left: 193px;
  position: fixed;
  top: 59px;
  width: 1px;
  z-index: 5;
}

.apply-payment-6 .rectangle-253 {
  background-color: var(--cerulean);
  height: 3px;
  left: 193px;
  position: fixed;
  top: 93px;
  width: 1px;
  z-index: 8;
}

.apply-payment-6 .frame-562 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23.96px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .group-447 {
  align-self: stretch;
  height: 100.65px;
  min-width: 855.16px;
  position: relative;
}

.apply-payment-6 .frame-564 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8.99px;
  position: relative;
  width: 855px;
}

.apply-payment-6 .upgrade-freemium-to-6-months {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-565 {
  align-items: flex-start;
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  flex-direction: column;
  gap: 7.49px;
  margin-right: -0.75px;
  padding: 16.47px 17.97px;
  position: relative;
  width: 855.91px;
}

.apply-payment-6 .agree-to-wittgens-u {
  left: 0;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 709px;
}

.apply-payment-6 .group-402 {
  align-items: flex-end;
  display: flex;
  height: 16px;
  left: 504px;
  min-width: 307px;
  position: absolute;
  top: 25px;
}

.apply-payment-6 .component-92 {
  align-self: center;
  height: 12px;
  margin-bottom: 1.02px;
  width: 12px;
}

.apply-payment-6 .i-have-read-and-agree-to-the-website {
  letter-spacing: 0;
  line-height: 15.7px;
  margin-bottom: 0;
  margin-left: 6px;
  min-height: 16px;
  min-width: 182px;
  white-space: nowrap;
}

.apply-payment-6 .terms-and-conditions {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 15.7px;
  margin-bottom: 0;
  margin-left: 2px;
  min-height: 16px;
  min-width: 105px;
  text-decoration: underline;
  white-space: nowrap;
}

.apply-payment-6 .frame-576 {
  border: 0.75px solid;
  border-color: var(--geyser);
  height: 300.28px;
  min-width: 855.16px;
  position: relative;
}

.apply-payment-6 .frame-container {
  height: 300px;
  position: relative;
  width: 855px;
}

.apply-payment-6 .frame {
  align-items: center;
  display: flex;
  gap: 8.99px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-290 {
  align-items: flex-start;
  background-color: var(--porcelain);
  border: 0.75px solid;
  border-color: var(--mystic-2);
  display: flex;
  flex-direction: column;
  gap: 7.49px;
  height: 29.95px;
  justify-content: center;
  padding: 8.99px;
  position: relative;
  width: 269.58px;
}

.apply-payment-6 .search {
  letter-spacing: 0;
  line-height: 15.7px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .payment_-delete-multiple {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 3px;
  padding: 0px 8.99px 0px 3px;
  position: relative;
  width: 119.06px;
}

.apply-payment-6 .frame-596 {
  height: 29.95px;
  min-width: 29.95px;
  position: relative;
}

.apply-payment-6 .delete-multiple {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .frame-container-1 {
  height: 240px;
  margin-left: 0;
  position: relative;
  width: 855px;
}

.apply-payment-6 .frame-560 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 855px;
}

.apply-payment-6 .frame-569 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -143.78px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-556 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--geyser);
  display: flex;
  position: relative;
  width: 998.94px;
}

.apply-payment-6 .frame-456 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7.49px;
  height: 29.95px;
  justify-content: center;
  opacity: 0;
  padding: 4.49px 5.99px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .icsharp-delete {
  height: 17.97px;
  margin-bottom: -233.01px;
  margin-right: -806.65px;
  min-width: 18.13px;
  position: relative;
}

.apply-payment-6 .frame-552 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 29.95px;
  justify-content: center;
  padding: 8.99px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .verified_fill1_wght400_grad0_opsz48-1 {
  height: 11.98px;
  min-width: 11.98px;
  position: relative;
}

.apply-payment-6 .promotion {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .component {
  align-items: center;
  display: flex;
  gap: 7.49px;
  height: 29.95px;
  padding: 8.99px;
  position: relative;
  width: 149.77px;
}

.apply-payment-6 .sample {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .component-104 {
  align-items: center;
  display: flex;
  gap: 53.92px;
  height: 29.95px;
  padding: 8.99px;
  position: relative;
  width: 149.77px;
}

.apply-payment-6 .database-category {
  line-height: normal;
  margin-top: -1.26px;
}

.apply-payment-6 .database-file {
  line-height: normal;
  margin-top: -1.26px;
}

.apply-payment-6 .component-10 {
  height: 29.95px;
  min-width: 149.77px;
  position: relative;
}

.apply-payment-6 .dob {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-container-2 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 959px;
}

.apply-payment-6 .frame-557 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--geyser);
  display: flex;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 959px;
}

.apply-payment-6 .checkbox {
  height: 12px;
  width: 12px;
}

.apply-payment-6 .frame-553 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--geyser);
  display: flex;
  gap: 7.49px;
  height: 30px;
  justify-content: center;
  left: 0;
  padding: 8.99px;
  position: absolute;
  top: 0;
  width: 90px;
}

.apply-payment-6 .frame-618 {
  align-items: center;
  border: 0.75px solid;
  border-color: var(--cerulean);
  border-radius: 26.96px;
  display: flex;
  gap: 5.99px;
  justify-content: center;
  margin-bottom: -3.50px;
  margin-top: -3.50px;
  padding: 3px 5.99px;
  position: relative;
  width: 50.17px;
}

.apply-payment-6 .frame-595 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--geyser);
  border-right-style: solid;
  border-right-width: 0.75px;
  display: flex;
  height: 30px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 150px;
}

.apply-payment-6 .component-38 {
  align-items: center;
  background-color: var(--wild-sand);
  display: flex;
  gap: 7.49px;
  height: 30px;
  padding: 8.99px;
  position: relative;
  width: 150px;
}

.apply-payment-6 .component-1 {
  align-items: center;
  border-color: var(--geyser);
  border-right-style: solid;
  border-right-width: 0.75px;
  display: flex;
  gap: 53.92px;
  height: 29.95px;
  padding: 8.99px;
  position: relative;
  width: 149.77px;
}

.apply-payment-6 .seurat {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: 66.65px;
}

.apply-payment-6 .material-symbolsnavigate-next {
  height: 11.98px;
  margin-right: -0.75px;
  min-width: 11.98px;
  position: relative;
}

.apply-payment-6 .gh-1234567 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  text-decoration: underline;
  width: fit-content;
}

.apply-payment-6 .component-9 {
  border-color: var(--geyser);
  border-right-style: solid;
  border-right-width: 0.75px;
  height: 29.95px;
  min-width: 149.77px;
  position: relative;
}

.apply-payment-6 .component-102 {
  align-items: center;
  display: flex;
  gap: 7.49px;
  height: 29.95px;
  margin-right: -59.91px;
  padding: 8.99px;
  position: relative;
  width: 149.77px;
}

.apply-payment-6 .date {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-558 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
  border-color: var(--geyser);
  display: flex;
  height: 30px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 959px;
}

.apply-payment-6 .frame-622-1 {
  align-items: center;
  display: flex;
  height: 30px;
  padding: 0 9.0px;
  width: 30px;
}

.apply-payment-6 .fast-queue {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: 66.65px;
}

.apply-payment-6 .component-99 {
  align-items: center;
  border-color: var(--mystic);
  border-right-style: solid;
  border-right-width: 0.75px;
  display: flex;
  gap: 7.49px;
  height: 29.95px;
  margin-right: -59.91px;
  padding: 8.99px;
  position: relative;
  width: 149.77px;
}

.apply-payment-6 .date-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-559 {
  align-items: flex-start;
  display: flex;
  left: 0;
  position: absolute;
  top: 60px;
  width: 959px;
}

.apply-payment-6 .checkbox-1 {
  border: 0.75px solid;
  border-color: var(--blue-dianne);
  border-radius: 1.5px;
  height: 12px;
  width: 12px;
}

.apply-payment-6 .cell-ranger {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: 66.65px;
}

.apply-payment-6 .frame-573 {
  align-items: center;
  background-color: var(--mystic);
  display: flex;
  height: 12px;
  justify-content: space-between;
  left: 729px;
  padding: 3px;
  position: absolute;
  top: 114px;
  transform: rotate(90.00deg);
  width: 240px;
}

.apply-payment-6 .frame-449 {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  justify-content: center;
  margin-bottom: -1.50px;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .iontriangle-sharp {
  height: 5.99px;
  margin-left: -1.50px;
  min-width: 8.99px;
  position: relative;
  transform: rotate(-90.00deg);
}

.apply-payment-6 .rectangle-235 {
  background-color: var(--silver);
  height: 8.99px;
  min-width: 199.19px;
  position: relative;
}

.apply-payment-6 .iontriangle-sharp-1 {
  height: 5.99px;
  margin-right: -1.50px;
  min-width: 8.99px;
  position: relative;
  transform: rotate(-90.00deg);
}

.apply-payment-6 .frame-572 {
  align-items: center;
  background-color: var(--mystic);
  display: flex;
  height: 12px;
  justify-content: space-between;
  margin-left: 0.75px;
  padding: 3px;
  position: relative;
  width: 842px;
}

.apply-payment-6 .iontriangle-sharp-2 {
  height: 8.99px;
  min-width: 5.99px;
  position: relative;
}

.apply-payment-6 .rectangle-235-1 {
  background-color: var(--silver);
  height: 8.99px;
  min-width: 525.68px;
  position: relative;
}

.apply-payment-6 .iontriangle-sharp-3 {
  height: 8.99px;
  margin-bottom: -1.50px;
  margin-top: -1.50px;
  min-width: 5.99px;
  position: relative;
}

.apply-payment-6 .group-438 {
  height: 101.87px;
  min-width: 855.16px;
  position: relative;
}

.apply-payment-6 .payment {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
}

.apply-payment-6 .overlap-group-1 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 855px;
}

.apply-payment-6 .frame-214 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 7.49px;
  justify-content: center;
  left: 118px;
  padding: 10.48px 17.22px;
  position: absolute;
  top: 0;
  width: 118px;
}

.apply-payment-6 .membership {
  letter-spacing: 0;
  line-height: 18.0px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .frame-215 {
  align-items: center;
  background-color: var(--blue-dianne);
  display: flex;
  gap: 7.49px;
  justify-content: center;
  left: 0;
  padding: 10.48px 17.22px;
  position: absolute;
  top: 0;
  width: 118px;
}

.apply-payment-6 .freemium {
  letter-spacing: 0;
  line-height: 18.0px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .frame-590 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 550.71px;
  justify-content: space-between;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-58 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8.99px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .frame-582 {
  align-items: center;
  display: flex;
  gap: 47.93px;
  height: 17.97px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .order-summary {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: 111.58px;
}

.apply-payment-6 .group-391 {
  align-self: stretch;
  height: 17.97px;
  margin-right: -2.00px;
  min-width: 75.39px;
  position: relative;
}

.apply-payment-6 .currency-usd {
  left: 0;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 73px;
}

.apply-payment-6 .line-107 {
  height: 1px;
  margin-bottom: -0.25px;
  min-width: 235.13px;
  position: relative;
}

.apply-payment-6 .group-394 {
  height: 34.45px;
  min-width: 235.88px;
  position: relative;
}

.apply-payment-6 .group-393 {
  align-items: flex-start;
  display: flex;
  gap: 148px;
  height: 34px;
  min-width: 238px;
}

.apply-payment-6 .group-392 {
  height: 16.47px;
  min-width: 52.17px;
  position: relative;
}

.apply-payment-6 .samples {
  left: 0;
  letter-spacing: 0;
  line-height: 18.0px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 50px;
}

.apply-payment-6 .group-389 {
  height: 14.98px;
  margin-right: -6.00px;
  min-width: 61.41px;
  position: relative;
}

.apply-payment-6 .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 9px;
  height: 15px;
  min-width: 55px;
}

.apply-payment-6 .number {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 15.7px;
  min-height: 15px;
  white-space: nowrap;
  width: 7px;
}

.apply-payment-6 .x {
  letter-spacing: 0;
  line-height: 15.7px;
  min-height: 15px;
  white-space: nowrap;
  width: 6px;
}

.apply-payment-6 .price {
  letter-spacing: 0;
  line-height: 15.7px;
  min-height: 15px;
  white-space: nowrap;
  width: 25px;
}

.apply-payment-6 .price-1 {
  letter-spacing: 0;
  line-height: 18.0px;
  margin-top: 0;
  min-height: 16px;
  white-space: nowrap;
}

.apply-payment-6 .frame-58-1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 205.18px;
}

.apply-payment-6 .subtotal {
  letter-spacing: 0;
  line-height: 15.7px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .price-2 {
  letter-spacing: 0;
  line-height: 18.0px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .taxes10 {
  left: 0;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.apply-payment-6 .price-3 {
  letter-spacing: 0;
  line-height: 18.0px;
  margin-top: -0.75px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.apply-payment-6 .line-112 {
  height: 1px;
  margin-bottom: -0.25px;
  min-width: 238.13px;
  position: relative;
}

.apply-payment-6 .frame-317 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 7.49px;
  padding: 3px 8.99px;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .group-427 {
  height: 33px;
  margin-right: -4.00px;
  min-width: 147.64px;
  position: relative;
}

.apply-payment-6 .total-amount {
  left: 0;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.apply-payment-6 .price-4 {
  left: 73px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: line-through;
  top: 0;
}

.apply-payment-6 .group-428 {
  height: 33px;
  margin-right: -4.00px;
  min-width: 96.91px;
  position: relative;
}

.apply-payment-6 .price-5 {
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.apply-payment-6 .line-108 {
  height: 1px;
  left: 1180px;
  position: fixed;
  top: 605px;
  width: 235px;
  z-index: 6;
}

.apply-payment-6 .database {
  letter-spacing: 0;
  position: relative;
  width: fit-content;
}

.apply-payment-6 .gh-1234567-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.26px;
  position: relative;
  width: fit-content;
}
