/* screen - change-password */

.change-password {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.change-password .main-navigation {
  align-items: flex-start;
  display: flex;
  height: 810px;
  left: -2px;
  min-width: 195px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.change-password .overlap-group {
  height: 810px;
  position: relative;
  width: 197px;
}

.change-password .group-184 {
  align-items: flex-end;
  display: flex;
  height: 810px;
  left: 0;
  min-width: 197px;
  position: absolute;
  top: 0;
}

.change-password .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--blue-dianne);
  display: flex;
  height: 810px;
  justify-content: flex-end;
  min-width: 195px;
  padding: 16.5px 26.2px;
}

.change-password .witt-gen-portal {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
}

.change-password .line-79 {
  height: 809px;
  width: 1px;
}

.change-password .frame-185 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 0;
  position: absolute;
  top: 123px;
  width: fit-content;
}

.change-password .dashboard {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  padding: 11.25px 45px;
  position: relative;
  width: 195px;
}

.change-password .home_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.change-password .cost-usage {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  padding: 11.25px 45px;
  position: relative;
  width: 195px;
}

.change-password .paid_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.change-password .cost-usage-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.change-password .my-profile-1 {
  margin-top: -1.50px;
}

.change-password .settings {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  padding: 11.25px 45px;
  position: relative;
  width: 195px;
}

.change-password .settings_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.change-password .contact_support_fill {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.change-password .faq-support {
  letter-spacing: 0;
  line-height: normal;
  margin-right: -2.00px;
  margin-top: -1.50px;
  position: relative;
  width: fit-content;
}

.change-password .logout {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 36px;
  left: 0;
  padding: 11.25px 45px;
  position: absolute;
  top: 717px;
  width: 195px;
}

.change-password .logout_fill0_wght400_grad0_opsz48-1 {
  height: 18px;
  margin-bottom: -2.25px;
  margin-top: -2.25px;
  min-width: 18px;
  position: relative;
}

.change-password .main-navigation-1 {
  align-items: flex-start;
  display: flex;
  height: 810px;
  left: -2px;
  min-width: 195px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.change-password .frame-695 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  left: 254px;
  position: fixed;
  top: 74px;
  width: fit-content;
  z-index: 4;
}

.change-password .frame {
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.change-password .frame-496 {
  align-items: center;
  display: flex;
  gap: 232.5px;
  position: relative;
  width: fit-content;
}

.change-password .title {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.change-password .frame-683 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  position: relative;
  width: fit-content;
}

.change-password .frame-468 {
  align-items: center;
  background-color: var(--catskill-white);
  border: 0.75px solid;
  border-color: var(--geyser);
  cursor: pointer;
  display: flex;
  gap: 9px;
  height: 42px;
  padding: 9px;
  position: relative;
  width: 390px;
}

.change-password .icon {
  height: 18px;
  min-width: 18px;
  position: relative;
}

.change-password .my-profile-2 {
  white-space: nowrap;
}

.change-password .frame-466 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 9px;
  height: 42px;
  padding: 9px;
  position: relative;
  width: 390px;
}

.change-password .change-password-1 {
  white-space: nowrap;
}

.change-password .frame-469 {
  align-items: center;
  background-color: var(--mystic);
  border: 0.75px solid;
  border-color: var(--silver);
  display: flex;
  gap: 9px;
  height: 42px;
  padding: 9px;
  position: relative;
  width: 390px;
}

.change-password .application {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: fit-content;
}

.change-password .component-85 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: fit-content;
}

.change-password .change-password-2 {
  margin-top: -0.75px;
}

.change-password .frame-467 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 6px;
  position: relative;
  width: fit-content;
}

.change-password .frame-292 {
  align-items: center;
  background-color: var(--blue-dianne);
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 9px;
  justify-content: center;
  padding: 6px 9px;
  position: relative;
  width: fit-content;
}

.change-password .frame-464 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: fit-content;
}

.change-password .frame-464-1 {
  gap: 9px;
}

.change-password .frame-464-2 {
  gap: 18px;
}

.change-password .group-298 {
  align-items: flex-start;
  display: flex;
  height: 55px;
  min-width: 432px;
}

.change-password .frame-301 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  width: fit-content;
}

.change-password .x-password {
  letter-spacing: 0;
  line-height: 15.8px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.change-password .frame-290 {
  border: 0.9px solid;
  border-color: var(--geyser);
  height: 36px;
  min-width: 432px;
  position: relative;
}

.change-password .frame-640 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 148px;
  left: 764px;
  min-width: 286px;
  position: fixed;
  top: 353px;
  z-index: 1;
}

.change-password .overlap-group1 {
  height: 160px;
  margin-left: -1px;
  margin-top: -11.63px;
  position: relative;
  width: 276px;
}

.change-password .frame-546 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.75px solid;
  border-color: var(--geyser);
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 11px;
  width: fit-content;
}

.change-password .frame-438 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  padding: 9px 18px;
  position: relative;
  width: 274.5px;
}

.change-password .password-security {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.75px;
  position: relative;
  width: 232.5px;
}

.change-password .password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.change-password .address {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.change-password .group-462 {
  align-items: flex-end;
  display: flex;
  height: 11px;
  left: 11px;
  min-width: 22px;
  position: absolute;
  top: 6px;
  transform: rotate(-90.00deg);
}

.change-password .overlap-group-2 {
  height: 11px;
  margin-bottom: 0;
  position: relative;
  width: 22px;
}

.change-password .polygon-1 {
  height: 22px;
  left: 6px;
  position: absolute;
  top: -6px;
  transform: rotate(90.00deg);
  width: 10px;
}

.change-password .rectangle-256 {
  background-color: var(--white);
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.change-password .change-password-3 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.change-password .frame-464-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.change-password .my-profile-3 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}
