/* screen - delete-multiple */

.delete-multiple {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 78px;
  min-width: 741px;
  padding: 64px 120px;
  position: relative;
}

.delete-multiple .title {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.delete-multiple .span0 {
  line-height: 25.6px;
}

.delete-multiple .span1 {
  line-height: 24px;
}

.delete-multiple .back-button {
  align-items: center;
  background-color: var(--white);
  border: 1.2px solid;
  border-color: var(--geyser);
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 24px 80px;
  position: relative;
  width: 200px;
}

.delete-multiple .back {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -7.30px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  margin-top: -9.70px;
  position: relative;
  width: fit-content;
}

.delete-multiple .next {
  align-items: center;
  background-color: var(--milano-red);
  border: 1.2px solid;
  border-color: var(--geyser);
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 24px 80px;
  position: relative;
  width: 200px;
}

.delete-multiple .yes-delete-samples {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -7.30px;
  margin-left: -47.50px;
  margin-right: -47.50px;
  margin-top: -9.70px;
  position: relative;
  width: fit-content;
}

.delete-multiple .frame {
  display: flex;
  position: relative;
  width: fit-content;
}
