:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --blue-dianne: #25474f;
  --catskill-white: #f1f6f7;
  --catskill-white-2: #f2f6f7;
  --cerulean: #0fb3da;
  --geyser: #cedde1;
  --japanese-laurel: #009f06;
  --milano-red: #b60a0a;
  --mystic: #e9ebed;
  --mystic-2: #e7edef;
  --oslo-gray: #7c9195;
  --persian-blue: #1431c8;
  --pippin: #fee3e1;
  --porcelain: #f0f3f3;
  --red: #dd0000;
  --rice-flower: #ecf9e2;
  --silver: #c0c0c0;
  --slate-gray: #707e8c;
  --tahiti-gold: #ea7910;
  --tundora: #464646;
  --white: #ffffff;
  --wild-sand: #f1f3f4;
 
  --font-size-l: 12px;
  --font-size-m: 10.5px;
  --font-size-s: 7.9px;
  --font-size-xl: 14px;
  --font-size-xxl: 15px;
  --font-size-xxxl: 16px;
  --font-size-xxxxl: 21px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-oxygen: "Oxygen", Helvetica;
}
.inter-normal-tundora-10-5px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-slate-gray-10-5px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-slate-gray-10-5px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.oxygen-bold-white-21px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-persian-blue-10-5px {
  color: var(--persian-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-slate-gray-14px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-10-5px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-slate-gray-10-5px-2 {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-10-5px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.oxygen-light-white-21px {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-tundora-10-5px-2 {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-persian-blue-10-5px-2 {
  color: var(--persian-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-15px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-cerulean-10-5px {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-silver-12px {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-tundora-12px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-10-5px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-tundora-14px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-blue-dianne-14px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-12px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-slate-gray-10-5px-2 {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-16px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-tundora-12px-2 {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-27px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
}

.inter-normal-oslo-gray-9px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-12px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-tundora-12px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-japanese-laurel-16px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-36px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.inter-normal-japanese-laurel-9px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-7-9px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-black-10-5px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-oslo-gray-12px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.oxygen-bold-white-21px-2 {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-blue-dianne-15px-2 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-tundora-16px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-white-7-9px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-tundora-16px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-slate-gray-16px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-silver-10-5px {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-japanese-laurel-12px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-tundora-15px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-14px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-japanese-laurel-10-5px {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-slate-gray-16px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-milano-red-8-2px {
  color: var(--milano-red);
  font-family: var(--font-family-inter);
  font-size: 8.2px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-9px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
}

.inter-normal-cerulean-10-5px-2 {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.oxygen-light-white-21px-2 {
  color: var(--white);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 300;
}

.inter-semi-bold-blue-dianne-10-5px-2 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-10-5px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-japanese-laurel-9px-2 {
  color: var(--japanese-laurel);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-7-9px-2 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-7-9px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-blue-dianne-10-5px {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-10-5px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-10-5px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-blue-dianne-12px-2 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-12px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-tundora-15px {
  color: var(--tundora);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-silver-27px {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-blue-dianne-27px-2 {
  color: var(--blue-dianne);
  font-family: var(--font-family-inter);
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-tahiti-gold-8-2px {
  color: var(--tahiti-gold);
  font-family: var(--font-family-inter);
  font-size: 8.2px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-10-5px-3 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-milano-red-10-5px {
  color: var(--milano-red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-slate-gray-15px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.oxygen-bold-blue-dianne-21px {
  color: var(--blue-dianne);
  font-family: var(--font-family-oxygen);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-white-13-5px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 13.5px;
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-cerulean-10-5px {
  color: var(--cerulean);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-slate-gray-12px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-silver-10-5px-2 {
  color: var(--silver);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-red-10-5px {
  color: var(--red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-slate-gray-8-2px {
  color: var(--slate-gray);
  font-family: var(--font-family-inter);
  font-size: 8.2px;
  font-style: normal;
  font-weight: 600;
}
